@import '../assets/colorpaletta';
body, html {
  scroll-behavior: smooth;
}
.block-container {
  section {
    padding-top: 76px;
    width: 100%;
    box-sizing: border-box;

    h1 {
      font-weight: 100;
      text-transform: uppercase;

      a {
        text-decoration: none;
        color: #000;
        padding: 5px;
        font-size: 40px;
        font-weight: 800;

        &.active,
        &:hover {
          color: $rg-color-red;
        }
      }
    }
  }
}

.about-us-container {
  background-color: $rg-font-light;
  width: 100%;
  margin-top: 20px;

  .article {
    margin: 20px 0;
    padding: 0;
    color: $rg-font-dark;
    box-sizing: border-box;

    a {
      text-decoration: none;
      color: $rg-font-dark;

      &:hover {
        text-decoration: underline;
      }
    }

    .title {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: 600;
      color: #fff;
      box-sizing: border-box;
      display: block;
      text-align: left;
      margin-bottom: 10px;
      text-transform: uppercase;

      span {
        background-color: #000;
        padding: 0 5px;
      }
    }

    img {
      width: 100%;
      margin: 0 0 10px;
    }

    .description {
      font-family: "Open Sans", sans-serif;
      background-color: $rg-color-blue-boring-details;
      color: #fff;
      padding: 5px;
      text-align: left;
    }
  }
}
