.block-container {
  margin-top: 76px;
}

.playbuzz, .pb_feed {
  background-color: #fff;
}
.item {
  transform: none;
  &.item--huge, &.item--medium, &.item--megagiga, &.item--small, &.item--large, &.item--giga  {
    transform: none;
  }
}
