@media (max-width: 767px) {
  .block-container {
    &.videos {
      display: block;
    }

    &.merch {
      display: none;
    }
  }
}
@media (min-width: 768px) {
  .block-container {
    &.videos {
      display: none;
    }

    &.merch {
      display: block;
    }
  }
}

.video-container {
  .boring-details {
    .title {
      .info {
        padding: 3px;
        transform: rotate(18deg);
      }
    }

    .content {
      span {
        font-weight: 400;
      }
    }
  }

  img {
    width: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
  }
}
