body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  font-size: 13px;
}
@supports (display: grid) {
  body,
html {
    display: block;
  }
}

.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0 rgba(68, 68, 68, 0.4);
}
@supports (display: grid) {
  .message {
    display: none;
  }
}

.section {
  display: none;
  padding: 30px 10px;
  padding-bottom: 100px;
}
@supports (display: grid) {
  .section {
    display: block;
  }
}

h1 {
  font-size: 2rem;
  margin: 0 0 1.5em;
}

.grid {
  display: block;
  padding: 20px;
  grid-gap: 40px 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: 100px;
  grid-auto-flow: row dense;
}
@media screen and (min-width: 540px) {
  .grid {
    display: grid;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .grid {
    grid-auto-rows: 60px;
  }
}

h1.item {
  color: #000;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
  counter-increment: item-counter;
  overflow: hidden;
  margin: 20px 0;
}
@media screen and (min-width: 540px) {
  .item {
    margin: 0;
  }
}
.item a {
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
}
.item a.content {
  color: #000;
  text-align: left;
  padding: 12px;
  transition: all ease 1s;
  font-size: 14px;
}
.item a.content img {
  padding: 0px;
}
.item a.content img:hover {
  transform: none;
}
.item a.content.image {
  padding: 0px;
}
.item a.content:hover {
  color: #fff;
  background-color: #000;
  transition: all ease 1s;
}
.item a.content.highlight {
  color: #ff0700;
  font-size: 18px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}
.item a.content.highlight:hover {
  color: #00f9ff;
}
.item p {
  background-color: #000;
  margin: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  padding: 10px;
}
.item p a {
  color: #fff;
  text-decoration: none;
}
.item p a:hover {
  color: #ff0700;
}
.item img {
  width: 100%;
  transition: all 1s ease;
  filter: invert(0%);
}
.item img:hover {
  transition: all 1s ease;
  filter: invert(100%);
  transform: scale(1.02);
}
.item--small {
  grid-row-end: span 2;
}
.item--medium {
  grid-row-end: span 3;
}
.item--large {
  grid-row-end: span 4;
}
.item--huge {
  grid-row-end: span 5;
}
.item--giga {
  grid-row-end: span 6;
}
.item--megagiga {
  grid-row-end: span 8;
}
@media screen and (min-width: 540px) {
  .item--full {
    grid-column: 1/-1;
    grid-row-end: span 4;
  }
}
@media screen and (min-width: 540px) {
  .item--wide {
    grid-column: 1/-1;
    grid-row-end: span 4;
  }
}
@media screen and (min-width: 540px) and (min-width: 768px) {
  .item--wide {
    grid-column: 2/-1;
  }
}
@media screen and (min-width: 540px) {
  .item--wide--left {
    grid-column: 1/-1;
    grid-row-end: span 4;
  }
}
@media screen and (min-width: 540px) and (min-width: 768px) {
  .item--wide--left {
    grid-column: 1/-2;
  }
}
.item--rect--middle {
  grid-column: 2/4;
  grid-row-end: span 4;
}
.item--rect--middle.higher {
  grid-row-end: span 5;
}
.item--rect--right {
  grid-column: 3/5;
  grid-row-end: span 4;
}
.item--rect--right.higher {
  grid-row-end: span 5;
}
.item--rect--left {
  grid-column: 1/3;
  grid-row-end: span 4;
}
.item--rect--left.higher {
  grid-row-end: span 5;
}
.item__details {
  position: absolute;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  color: #444;
  background: rgba(255, 255, 255, 0.6);
  text-transform: lowercase;
  letter-spacing: 1px;
  color: #000;
  width: 100%;
  box-sizing: border-box;
}
.item__details:before {
  content: counter(item-counter);
  font-weight: bold;
  font-size: 16px;
  padding-right: 0.5em;
  color: #444;
}
.item iframe {
  width: 100% !important;
}
.item iframe .svg {
  border: 5px solid #fff;
}

/*# sourceMappingURL=index.css.map */
