@import '../assets/colorpaletta';

body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  font-size: 13px;
  @supports(display: grid) {
    display: block;
  }
}

.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0 rgba(#444, 0.4);
  @supports(display: grid) {
    display: none;
  }
}

.section {
  display: none;
  padding: 30px 10px;
  @supports(display: grid) {
    display: block;
  }
}

h1 {
  font-size: 2rem;
  margin: 0 0 1.5em;
}

.grid {
  display: block;
  padding: 20px;
  @media screen and (min-width: 540px) {
    display: grid;
    padding: 0;
  }
  grid-gap: 40px 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-rows: 100px;
  @media screen and (min-width: 768px) {
    grid-auto-rows: 60px;
  }
  grid-auto-flow: row dense;
}

h1.item {
  color: #000;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
  counter-increment: item-counter;
  overflow: hidden;
  transform: rotate(1deg);
  margin: 20px 0;
  @media screen and (min-width: 540px) {
    margin: 0;
  }


  a {
    border: 2px solid #000;
    box-sizing: border-box;
  }


  p {
    background-color: #000;
    margin: 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
  }

  img {
    width: 100%;
    transition: all 1s ease;
    filter: invert(0%);

    &:hover {
      transition: all 1s ease;
      filter: invert(100%);
      transform: scale(1.02);
    }
  }

  &--small {
    grid-row-end: span 2;
    transform: rotate(-1deg);
  }

  &--medium {
    grid-row-end: span 3;
    transform: rotate(2deg);
  }

  &--large {
    grid-row-end: span 4;
    transform: rotate(-3deg);
  }

  &--huge {
    grid-row-end: span 5;
    transform: rotate(2deg);
  }

  &--giga {
    grid-row-end: span 6;
  }

  &--megagiga {
    grid-row-end: span 8;
  }

  &--full {
    @media screen and (min-width: 540px) {
      grid-column: 1/-1;
      grid-row-end: span 4;
    }
  }

  &--wide {
    @media screen and (min-width: 540px) {
      grid-column: 1/-1;
      @media screen and (min-width: 768px) {
        grid-column: 2/-1;
      }
      grid-row-end: span 4;
    }

    &--left {
      @media screen and (min-width: 540px) {
        grid-column: 1/-1;
        transform: rotate(-1deg);
        @media screen and (min-width: 768px) {
          grid-column: 1/-2;
        }
        grid-row-end: span 4;
      }
    }
  }

  &--rect {
    grid-column: 1/3;
    grid-row-end: span 3;

    &--middle {
      grid-column: 2/4;
      grid-row-end: span 4;
    }

    &--right {
      grid-column: 3/5;
      grid-row-end: span 4;
    }
  }

  &__details {
    position: absolute;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    color: #444;
    background: rgba(255,255,255,0.6);
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #000;
    width: 100%;
    box-sizing: border-box;

    &:before {
      content: counter(item-counter);
      font-weight: bold;
      font-size: 16px;
      padding-right: 0.5em;
      color: #444;
    }
  }

  iframe {
    width: 100% !important;

    .svg {
      border: 5px solid #fff;
    }
  }
}
