.tinder-container {
  background-color: #f5f7fa;
}
.tinder-container .tinder-card-container {
  height: 540px;
  width: 300px;
  margin: 0 calc(50% - 150px);
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  cursor: hand;
  border: 2px solid #000;
}
.tinder-container .tinder-card-container .tinder-image-container {
  height: 330px;
}
.tinder-container .tinder-card-container .tinder-image-container.alma {
  background: url("./alma/profil/profil.jpg");
  background-size: cover;
}
.tinder-container .tinder-card-container .tinder-image-container.andris {
  background: url("./andris/profil/profil.jpg");
  background-size: cover;
}
.tinder-container .tinder-card-container .tinder-image-container.bali {
  background: url("./bali/profil/profil.jpg");
  background-size: cover;
}
.tinder-container .tinder-card-container .tinder-image-container.barbi {
  background: url("./barbi/profil/profil.jpg");
  background-size: cover;
}
.tinder-container .tinder-card-container .tinder-image-container.boldi {
  background: url("./boldi/profil/profil.jpg");
  background-size: cover;
}
.tinder-container .tinder-card-container .tinder-image-container.edina {
  background: url("./edina/profil/profil.jpg");
  background-size: cover;
}
.tinder-container .tinder-card-container .tinder-image-container.eszter {
  background: url("./eszter/profil/profil.jpg");
  background-size: cover;
}
.tinder-container .tinder-card-container .tinder-image-container.eva {
  background: url("./eva/profil/profil.jpg");
  background-size: cover;
}
.tinder-container .tinder-card-container .tinder-image-container.ford {
  background: url("./ford/profil/profil.jpg");
  background-size: cover;
}
.tinder-container .tinder-card-container .tinder-image-container.flora {
  background: url("./flora/profil/profil.jpg");
  background-size: cover;
}
.tinder-container .tinder-card-container .tinder-image-container.fruzsi {
  background: url("./fruzsi/profil/profil.jpg");
  background-size: cover;
}
.tinder-container .tinder-card-container .tinder-image-container.laci {
  background: url("./laci/profil/profil.jpg");
  background-size: cover;
}
.tinder-container .tinder-card-container .tinder-image-container.mate {
  background: url("./mate/profil/profil.jpg");
  background-size: cover;
}
.tinder-container .tinder-card-container .tinder-image-container.martondani {
  background: url("./martondani/profil/profil.jpg");
  background-size: cover;
}
.tinder-container .tinder-card-container .tinder-image-container.nora {
  background: url("./nora/profil/profil.jpg");
  background-size: cover;
}
.tinder-container .tinder-card-container .tinder-description-container {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 210px;
  color: #000;
  bottom: 0;
}
.tinder-container .tinder-card-container .tinder-description-container .basic-info {
  height: 90px;
  padding: 20px;
  text-align: left;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
}
.tinder-container .tinder-card-container .tinder-description-container .basic-info .name {
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 900;
}
.tinder-container .tinder-card-container .tinder-description-container .basic-info .job {
  color: #000;
  text-align: left;
  font-size: 12px;
}
.tinder-container .tinder-card-container .tinder-description-container .basic-info .location {
  color: #000;
  text-align: left;
  font-size: 12px;
}
.tinder-container .tinder-card-container .tinder-description-container .interest {
  width: 100%;
  height: 60px;
  display: flex;
  padding: 10px 20px;
  line-height: 20px;
  justify-content: left;
  align-items: center;
  text-align: left;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  font-size: 12px;
}
.tinder-container .tinder-card-container .tinder-description-container .decision {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tinder-container .tinder-card-container .tinder-description-container .decision .decision-block {
  width: 33.33%;
  height: 60px;
  font-size: 30px;
  padding: 10px;
  box-sizing: border-box;
}
.tinder-container .tinder-card-container .tinder-description-container .decision .decision-block.left img {
  height: 40px;
  transition: all 666ms ease;
  transform: rotate(0deg);
}
.tinder-container .tinder-card-container .tinder-description-container .decision .decision-block.left img:hover {
  transform: rotate(360deg);
}
.tinder-container .tinder-card-container .tinder-description-container .decision .decision-block.middle img {
  transition: all 666ms ease;
  height: 40px;
}
.tinder-container .tinder-card-container .tinder-description-container .decision .decision-block.middle img:hover {
  transform: rotate(360deg);
}
.tinder-container .tinder-card-container .tinder-description-container .decision .decision-block.right img {
  height: 40px;
  transition: all 666ms ease;
  transform: rotate(0deg);
}
.tinder-container .tinder-card-container .tinder-description-container .decision .decision-block.right img:hover {
  transform: rotate(360deg);
}
.tinder-container .tinder-card-container.dislikedTinderCard {
  left: -10000;
  transform: rotate(90deg);
  transition: all ease 3s;
}
.tinder-container .tinder-card-container.likedTinderCard {
  left: 10000;
  transform: rotate(-90deg);
  transition: all ease 3s;
}
.tinder-container #container {
  margin: auto !important;
  display: block;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tinder-container .rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
}
.tinder-container .rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
  z-index: 10;
}
.tinder-container .like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 50px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.tinder-container .dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 50px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}

/*# sourceMappingURL=index.css.map */
