@import '../assets/colorpaletta';

.block-container {
    height: 450px;
    overflow: hidden;
    margin-top: 106px;
    margin-bottom: 40px;
}
.tinder-container {
  float: left;
  width: 100%;
  position: relative;

  .tinder-card-container {
    height: 450px;
    width: 300px;
    margin: 0 calc(50% - 150px);
    display: block;
    border-radius: 10px;
    position: absolute;
    cursor: hand;
    box-shadow: 0 2px 10px 0 hsla(0,0%,61%,.77);

    .avatar {
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover;
      border: 5px solid $rg-color-2;
      border-radius: 10px;
      position: relative;
      box-sizing: border-box;

      &.palvin {
        background-image: url("https://78.media.tumblr.com/e7f0766eaaf439f7816fd5a0c74d8e10/tumblr_oizsl58ny91rxudgao1_1280.jpg");
      }

      &.dani {
        background-image: url("http://78.media.tumblr.com/de4fb5df6cd2eb0308fc0cf9e2219e5e/tumblr_mvc6wfRc4z1smw1bto1_1280.jpg");
      }

      .heart {
        width: 100px;
        position: absolute;
        right: 10px;
        bottom: 10px;
      }

      .stop {
        width: 100px;
        position: absolute;
        left: 10px;
        bottom: 10px;
      }
    }

    .tinder-image-container {
      height: 300px;

      &.barbi {
        background: url("https://78.media.tumblr.com/e7f0766eaaf439f7816fd5a0c74d8e10/tumblr_oizsl58ny91rxudgao1_1280.jpg");
        background-size: cover;
      }

      &.dani {
        background: url("http://78.media.tumblr.com/de4fb5df6cd2eb0308fc0cf9e2219e5e/tumblr_mvc6wfRc4z1smw1bto1_1280.jpg");
        background-size: cover;
      }

      &.laci {
        background: url("https://scontent-frt3-1.cdninstagram.com/t51.2885-15/e35/13183275_239749029713918_234639484_n.jpg");
        background-size: cover;
      }

      &.andris {
        background: url("http://78.media.tumblr.com/56f0c9622e1697d546382b979ee5e91b/tumblr_njrl0uVM8c1smw1bto1_500.jpg");
        background-size: cover;

        .glightbox-andris {
          height: 300px;
          width: 300px;
        }
      }

      &.bali {
        background: url("http://78.media.tumblr.com/87220bb9548c3e82554d987274503132/tumblr_mvc6dcWoVA1smw1bto1_1280.jpg");
        background-size: cover;

        .glightbox-bali {
          height: 300px;
          width: 300px;
        }
      }
    }

    .tinder-description-container {
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 200px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      color: #000;
      bottom: 0;

      .basic-info {
        height: 70px;
        padding: 10px 20px;
        text-align: left;
        box-sizing: border-box;
        border-bottom: 1px solid #e8e8e8;

        .name {
          font-size: 16px;
          text-align: left;
          text-transform: uppercase;
        }

        .job {
          color: #aaa;
          text-align: left;
          font-size: 12px;
        }

        .location {
          color: #aaa;
          text-align: left;
          font-size: 12px;
        }

        svg {
          padding-right: 5px;
        }
      }

      .interest {
        float: left;
        width: 100%;
        height: 60px;
        display: flex;
        padding: 0 20px;
        justify-content: left;
        align-items: center;
        text-align: left;
        box-sizing: border-box;
        border-bottom: 1px solid #e8e8e8;
      }

      .decision {
        position: absolute;
        bottom: 0;
        height: 70px;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-sizing: border-box;

        .decision-block {
          width: 33.33%;
          float: left;
          height: 60px;
          line-height: 60px;
          font-size: 30px;

          svg {
            margin-top: 15px;
          }

          &.left {
            color: #ff0970;
          }

          &.middle {
            color: #1ca9ff;
          }

          &.right {
            color: #04ec92;
          }
        }
      }
    }
  }

  #container {
    margin: auto !important;
    display: block;
    position: relative;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .rotate-left {
    transform: rotate(30deg) scale(0.8);
    transition: 1s;
    margin-left: 400px;
    cursor: e-resize;
    opacity: 0;
    z-index: 10;
  }

  .rotate-right {
    transform: rotate(-30deg) scale(0.8);
    transition: 1s;
    opacity: 0;
    margin-left: -400px;
    cursor: w-resize;
    z-index: 10;
  }

  .like {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid green;
    color: green;
    text-transform: uppercase;
    font-size: 100px;
    position: absolute;
    top: 50px;
    right: 40px;
    text-shadow: none;
  }

  .dislike {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid red;
    color: red;
    text-transform: uppercase;
    font-size: 100px;
    position: absolute;
    top: 50px;
    left: 40px;
    text-shadow: none;
  }
}
