@import '../assets/colorpaletta';

.music-container {
  text-align: center;
  margin: 20px 0;

  .soundcloud-container {
    width: 300px;
    margin: 20px calc(50% - 150px);
  }
}

.item {
  a {
    position: relative;
    text-decoration: none;
    background-color: #fff;

    div {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      span {
        bottom: 20px;
        left: 20px;
        position: absolute;
        color: $rg-color-2;
        text-transform: uppercase;
        font-size: 40px;
        transition: all 0.5 ease;
      }
    }

    img {
      filter: grayscale(50%);
      transition: all 0.5s ease;
    }

  }
  &:hover {
      filter: invert(1);
      transition: all 0.5 ease;

    div {
      span {
        opacity: 0.2;
        transition: all 0.5s ease;
      }
    }
  }
}
