$rg-color-1: #5F9D78;
$rg-color-2: #5796F6;
$rg-color-3: #ea7250;
$rg-color-4: #E64780;
$rg-color-5: #6F3E90;
$rg-color-6: #D5B0AC;
$rg-font-light: #fff;
$rg-font-dark: #000;
$rg-menu-orange: #f85353;
$rg-header-bg: #565656;
$rg-header-icon: #e44780;
