$rg-color-1: #0d1f2d;
$rg-color-2: #3d5a80;
$rg-color-3: #a1cca5;
$rg-color-4: #cacfd6;
$rg-color-5: #78cad2;
$rg-color-6: #D5B0AC;
$rg-font-light: #fff;
$rg-font-dark: #000;
$rg-menu-orange: #f85353;
