$rg-color-1: #1f60d6;
$rg-color-2: #6cab69;
$rg-color-3: #cd9722;
$rg-color-4: #cf48db;
$rg-color-5: #00bbb4;
$rg-color-6: #D5B0AC;
$rg-font-light: #fff;
$rg-font-dark: #000;
$rg-menu-blue: #2241ff;
$rg-header-bg: #565656;
$rg-header-icon: #e44780;
$rg-color-red: #ff0700;
$rg-color-blue-boring-details: #3117f4;
