$rg-color-1: #3d0814;
$rg-color-2: #8b1e3f;
$rg-color-3: #cca43b;
$rg-color-3-light: #F1E6C9;
$rg-color-4: #631d76;
$rg-color-5: #9e4770;
$rg-color-6: #D5B0AC;
$rg-font-light: #fff;
$rg-font-dark: #000;
