@import 'colorpaletta';

body {
  float: left;
  width: 100%;
  background-color: $rg-color-3;
  margin: 0;
  font-family: Dosis, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

.ui-loader {
  display: none;
}

.band_header {
  width: 100%;
  float: left;
  padding: 8px;
  font-size: 30px;
  color: $rg-color-5;
  text-transform: lowercase;
  text-align: center;
}

.header_container {
  position: fixed;
  width: 100%;
  z-index: 100;

  #header {
    height: 40px;
    line-height: 40px;
    width: 100%;
    float: left;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    color: $rg-font-light;
    border-bottom: 1px solid $rg-color-2;
    background-color: rgba($rg-color-3, 0.95);
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-size: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    .openbtn {
      width: 100%;
      float: left;
      cursor: pointer;
      color: $rg-font-light;
      border-bottom: 1px solid $rg-color-2;
      box-sizing: border-box;
      height: 40px;
      letter-spacing: 2px;
      background-color: $rg-color-2;
    }

    a {
      width: 100%;
      float: left;
      height: 25px;
      font-size: 11px;
      text-decoration: none;
      color: $rg-font-light;
      text-transform: uppercase;
      text-align: center;
      line-height: 25px;
      box-sizing: border-box;
      letter-spacing: 2px;

      span {
        float: left;
        width: calc(100% - 40px);
        margin: 0 20px;
        box-sizing: border-box;
        border-bottom: 1px solid $rg-color-1;
      }
    }
  }
}

.header {
  text-align: center;
  float: left;
  width: 100%;
  color: $rg-font-light;
  text-transform: uppercase;
  font-size: 20px;
  height: 40px;
  line-height: 42px;
  background-color: $rg-color-5;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  margin-top: -40px;
  font-weight: 200;
  transition: all 0.5s ease;
}

.block-container {
  width: 100%;
  float: left;
  box-sizing: border-box;
  color: $rg-font-light;
  text-align: center;
  transition: all 0.5s ease;
  &.home {
    margin-top: 20px;
  }

  .block {
    float: left;
    width: 50vw;
    height: 50vw;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $rg-font-light;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
    font-weight: 200;
    letter-spacing: 2px;
    border: 2px solid $rg-color-3;
    border-radius: 5px;

    &:nth-child(5n) {
      background-color: $rg-color-6;

      &:hover {
        background-color: lighten($rg-color-6, 10%);
      }
    }

    &:nth-child(5n+1) {
      background-color: $rg-color-2;

      &:hover {
        background-color: lighten($rg-color-2, 10%);
      }
    }

    &:nth-child(5n+2) {
      background-color: $rg-color-1;

      &:hover {
        background-color: lighten($rg-color-1, 10%);
      }
    }

    &:nth-child(5n+3) {
      background-color: $rg-color-4;

      &:hover {
        background-color: lighten($rg-color-4, 10%);
      }
    }

    &:nth-child(5n+4) {
      background-color: $rg-color-5;

      &:hover {
        background-color: lighten($rg-color-5, 10%);
      }
    }

    &:hover {
      color: rgba($rg-font-light, 0.5);
      font-size: 16px;
      transition: all 0.5s ease;
      transform: rotate(2deg);
      background-size: cover;
      letter-spacing: 4px;
      font-weight: 600;
    }
  }

  .fb-container {
    text-align: center;
    margin: 20px 0;
  }

  .insta-container {
    text-align: center;
    margin: 20px 0;
  }

  .koala-container {
    float: left;
    width: 100%;
    height: 404px;

    #center {
      width: 384px;

      #cont {
        float: left;
        margin: 0;
        top: 0;
        width: unset;
        height: unset;
      }
    }

    #footer {
      display: none;
    }
  }
}

.sidegifs {
  display: none;

  div {
    position: fixed;

    img {
      width: 80px;
    }

    &.pikachu {
      top: 40px;
      right: 60px;
    }

    &.micimacko {
      top: 100px;
      left: 20px;
    }

    &.spongyabob {
      top: 360px;
      left: 10px;
    }

    &.travolta {
      top: 230px;
      right: 10px;
    }

    &.uma {
      top: 230px;
      left: 10px;
    }

    &.shark {
      top: 450px;
      left: 10px;
    }

    &.bb8 {
      top: 490px;
      right: 20px;
    }
  }
}

.glightbox-container .ginner-container.desc-bottom,
.glightbox-container .ginner-container.desc-top {
  width: 100%;
  position: relative;
}

.glightbox-clean .gslide-description {
  background: rgba(255,255,255,0.5) !important;
  padding: 10 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 960px;
  box-sizing: border-box;
  display: inline-block;
}

.glightbox-clean .gslide-title {
  font-size: 20px !important;
  line-height: 20px !important;
  margin: 0;
  font-family: Dosis !important;
}

.glightbox-clean .gslide-desc {
  font-size: 16px !important;
  margin-bottom: 0;
  line-height: 16px !important;
  font-family: Dosis !important;
}

@media (min-width: 768px) {
  .header_container {
    #header {
      a {
        span {
          float: left;
          width: 720px;
          margin: 0 calc(50vw - 360px);
        }
      }
    }
  }

  .block-container {
    width: 720px;
    box-sizing: border-box;
    float: left;
    margin: 0 calc(50vw - 360px);

    .block {
      float: left;
      width: 180px;
      height: 180px;

      &:nth-child(5n) {
        &:hover {
          background: url("./gif3.gif");
          background-size: cover;
        }
      }

      &:nth-child(5n+2) {
        &:hover {
          background: url("./gif3.gif");
          background-size: cover;
        }
      }

      &:nth-child(5n+3) {
        &:hover {
          background: url("./gif1.gif");
          background-size: cover;
        }
      }

      &:nth-child(5n+4) {
        &:hover {
          background: url("./gif2.gif");
          background-size: cover;
        }
      }

      &:hover {
        color: rgba($rg-font-light, 0.5);
        font-size: 16px;
        transition: all 0.5s ease;
        background: url("./gif2.gif");
        transform: rotate(2deg);
        background-size: cover;
      }

      &.concerts {
        &:hover {
          background: url("./gif6.gif");
          background-size: cover;
        }
      }

      &.aboutus {
        &:hover {
          background: url("./gif7.gif");
          background-size: cover;
        }
      }

      &.bd2049 {
        &:hover {
          background: url("./gif8.gif");
          background-size: cover;
        }
      }

      &.contact {
        &:hover {
          background: url("./sw.gif");
          background-size: cover;
          background-position: center;
        }
      }
    }

  }

  .sidegifs {
    display: block;
  }
}
@media (min-width: 1024px) {
  .header_container {
    #header {
      a {
        span {
          float: left;
          width: 960px;
          margin: 0 calc(50vw - 480px);
        }
      }
    }
  }

  .block-container {
    width: 960px;
    box-sizing: border-box;
    float: left;
    margin: 0 calc(50vw - 480px);

    .block {
      float: left;
      width: 240px;
      height: 240px;
    }
  }
}
