@import 'colorpaletta';

body {
  float: left;
  width: 100%;
  background-color: $rg-color-3;
  margin: 0;
  font-family: Dosis, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

.ui-loader {
  display: none;
}

.band_header {
  width: 100%;
  float: left;
  padding: 8px;
  font-size: 30px;
  color: $rg-color-5;
  text-transform: lowercase;
  text-align: center;
}

.header_container {
  position: fixed;
  width: 100%;
  z-index: 100;

  #header {
    height: 40px;
    line-height: 40px;
    width: 100%;
    float: left;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    color: $rg-font-light;
    border-bottom: 1px solid $rg-color-2;
    background-color: rgba($rg-color-3, 0.95);
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-size: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    .openbtn {
      width: 100%;
      float: left;
      cursor: pointer;
      color: $rg-font-light;
      border-bottom: 1px solid $rg-color-2;
      box-sizing: border-box;
      height: 40px;
      letter-spacing: 2px;
      background-color: $rg-color-2;
    }

    a {
      width: 100%;
      float: left;
      height: 25px;
      font-size: 11px;
      text-decoration: none;
      color: $rg-font-light;
      text-transform: uppercase;
      text-align: center;
      line-height: 25px;
      box-sizing: border-box;
      letter-spacing: 2px;

      span {
        float: left;
        width: calc(100% - 40px);
        margin: 0 20px;
        box-sizing: border-box;
        border-bottom: 1px solid $rg-color-1;
      }
    }
  }
}

.header {
  text-align: center;
  float: left;
  width: 100%;
  color: $rg-font-light;
  text-transform: uppercase;
  font-size: 20px;
  height: 40px;
  line-height: 42px;
  background-color: $rg-color-5;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  margin-top: -40px;
  font-weight: 200;
  transition: all 0.5s ease;
}

.block-container {
  width: 100%;
  float: left;
  box-sizing: border-box;
  color: $rg-font-light;
  text-align: center;
  transition: all 0.5s ease;

  .block {
    float: left;
    width: 50vw;
    height: 50vw;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $rg-font-light;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
    font-weight: 200;
    letter-spacing: 2px;
    border: 2px solid $rg-color-3;
    border-radius: 5px;

    &:nth-child(5n) {
      background-color: $rg-color-6;

      &:hover {
        background-color: lighten($rg-color-6, 10%);
      }
    }

    &:nth-child(5n+1) {
      background-color: $rg-color-2;

      &:hover {
        background-color: lighten($rg-color-2, 10%);
      }
    }

    &:nth-child(5n+2) {
      background-color: $rg-color-1;

      &:hover {
        background-color: lighten($rg-color-1, 10%);
      }
    }

    &:nth-child(5n+3) {
      background-color: $rg-color-4;

      &:hover {
        background-color: lighten($rg-color-4, 10%);
      }
    }

    &:nth-child(5n+4) {
      background-color: $rg-color-5;

      &:hover {
        background-color: lighten($rg-color-5, 10%);
      }
    }

    &:hover {
      color: rgba($rg-font-light, 0.5);
      font-size: 16px;
      transition: all 0.5s ease;
      transform: rotate(2deg);
      background-size: cover;
      letter-spacing: 4px;
      font-weight: 600;
    }
  }

  .contact-container {
    padding: 10px;

    ul {
      padding: 0;

      li {
        list-style-type: none;

        .bold {
          font-weight: 700;
        }
      }
    }
  }

  .fb-container {
    text-align: center;
    margin: 20px 0;
  }

  .insta-container {
    text-align: center;
    margin: 20px 0;
  }

  .music-container {
    text-align: center;
    margin: 20px 0;

    .soundcloud-container {
      width: 300px;
      margin: 20px calc(50% - 150px);
    }
  }

  .image-container {
    .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0 4px;
    }

    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
      padding: 0 4px;
      box-sizing: border-box;

      .frame {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        overflow: hidden;
        position: relative;
        transition: all 0.5s ease;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
        border-radius: 3px;

        img {
          filter: grayscale(77%);
          transition: all 0.5s ease;
          width: 100%;
          border-radius: 3px;
        }

        .content {
          position: absolute;
          bottom: 0;
          background-color: rgba($rg-font-dark, 0.6);
          height: 43px;
          width: 100%;

          h1 {
            font-size: 20px;
            color: $rg-font-light;
            text-align: center;
            font-weight: 200;
            text-transform: uppercase;
            margin: 0;
          }

          p {
            font-size: 14px;
            color: $rg-font-light;
            text-align: center;
            font-weight: 200;
            text-transform: lowercase;
            margin: 0;
          }
        }

        &:hover {
          img {
            transition: all 0.5s ease;
            filter: grayscale(0%);
            transform: scale(1.11);
          }

          .content {
            opacity: 0;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }

  .merch-container {
    .merch-image-container {
      background: url("./grocery.jpg");
      background-size: cover;
      float: left;
      height: 700px;
      position: relative;
      width: 320px;
      margin: 20px calc(50vw - 160px);

      .merch {
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: $rg-color-4;
        color: $rg-font-light;
        font-weight: 200;
        display: block;
        opacity: 0.3;
        transition: all 0.5s ease;
        text-transform: uppercase;
        font-size: 12px;

        &.cola {
          bottom: 10px;
          left: 10px;
        }

        &.fanta {
          top: 160px;
          right: 20px;
        }

        &.palinka {
          top: 300px;
          left: 40px;
        }

        &:hover {
          opacity: 0.9;
          transition: all 0.5s ease;
          width: 120px;
          height: 120px;
        }

        .prize,
        .title {
          width: 100%;
          float: left;
          text-align: center;
          position: absolute;
        }

        .title {
          top: 10px;
        }

        .prize {
          bottom: 10px;
        }
      }
    }
  }

  .about-us-container {
    background-color: $rg-font-light;
    float: left;
    width: 100%;
    margin-top: 20px;

    .article {
      float: left;
      margin: 20px 0;
      padding: 0 10px;
      color: $rg-font-dark;

      a {
        text-decoration: none;
        color: $rg-font-dark;

        &:hover {
          text-decoration: underline;
        }
      }

      .title {
        font-family: 'Slabo 13px';
        font-size: 23px;
        font-style: bold;

        span {
          background-color: #faff69;
        }
      }

      img {
        width: 100%;
        margin: 20px 0;
      }

      .description {
        font-family: 'Noticia Text';
      }
    }
  }

  .tinder-container {
    background-color: #f5f7fa;

    .tinder-card-container {
      height: 500px;
      width: 300px;
      margin: 0 calc(50% - 150px);
      display: block;
      border-radius: 10px;
      top: 50px;
      position: absolute;
      cursor: hand;
      box-shadow: 0 2px 10px 0 hsla(0,0%,61%,.77);

      .tinder-image-container {
        height: 300px;

        &.barbi {
          background: url("https://78.media.tumblr.com/e7f0766eaaf439f7816fd5a0c74d8e10/tumblr_oizsl58ny91rxudgao1_1280.jpg");
          background-size: cover;
        }

        &.dani {
          background: url("http://78.media.tumblr.com/de4fb5df6cd2eb0308fc0cf9e2219e5e/tumblr_mvc6wfRc4z1smw1bto1_1280.jpg");
          background-size: cover;
        }

        &.laci {
          background: url("https://scontent-frt3-1.cdninstagram.com/t51.2885-15/e35/13183275_239749029713918_234639484_n.jpg");
          background-size: cover;
        }

        &.andris {
          background: url("http://78.media.tumblr.com/56f0c9622e1697d546382b979ee5e91b/tumblr_njrl0uVM8c1smw1bto1_500.jpg");
          background-size: cover;

          .glightbox-andris {
            height: 300px;
            width: 300px;
          }
        }

        &.bali {
          background: url("http://78.media.tumblr.com/87220bb9548c3e82554d987274503132/tumblr_mvc6dcWoVA1smw1bto1_1280.jpg");
          background-size: cover;

          .glightbox-bali {
            height: 300px;
            width: 300px;
          }
        }
      }

      .tinder-description-container {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 200px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        color: #000;
        bottom: 0;

        .basic-info {
          height: 70px;
          padding: 10px 20px;
          text-align: left;
          box-sizing: border-box;
          border-bottom: 1px solid #e8e8e8;

          .name {
            font-size: 16px;
            text-align: left;
            text-transform: uppercase;
          }

          .job {
            color: #aaa;
            text-align: left;
            font-size: 12px;
          }

          .location {
            color: #aaa;
            text-align: left;
            font-size: 12px;
          }

          svg {
            padding-right: 5px;
          }
        }

        .interest {
          float: left;
          width: 100%;
          height: 60px;
          display: flex;
          padding: 0 20px;
          justify-content: left;
          align-items: center;
          text-align: left;
          box-sizing: border-box;
          border-bottom: 1px solid #e8e8e8;
        }

        .decision {
          position: absolute;
          bottom: 0;
          height: 70px;
          width: 100%;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          box-sizing: border-box;

          .decision-block {
            width: 33.33%;
            float: left;
            height: 60px;
            line-height: 60px;
            font-size: 30px;

            svg {
              margin-top: 15px;
            }

            &.left {
              color: #ff0970;
            }

            &.middle {
              color: #1ca9ff;
            }

            &.right {
              color: #04ec92;
            }
          }
        }
      }
    }

    #container {
      margin: auto !important;
      display: block;
      position: relative;
      list-style-type: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .rotate-left {
      transform: rotate(30deg) scale(0.8);
      transition: 1s;
      margin-left: 400px;
      cursor: e-resize;
      opacity: 0;
      z-index: 10;
    }

    .rotate-right {
      transform: rotate(-30deg) scale(0.8);
      transition: 1s;
      opacity: 0;
      margin-left: -400px;
      cursor: w-resize;
      z-index: 10;
    }

    .like {
      border-radius: 5px;
      padding: 5px 10px;
      border: 2px solid green;
      color: green;
      text-transform: uppercase;
      font-size: 15px;
      position: absolute;
      top: 50px;
      right: 40px;
      text-shadow: none;
    }

    .dislike {
      border-radius: 5px;
      padding: 5px 10px;
      border: 2px solid red;
      color: red;
      text-transform: uppercase;
      font-size: 15px;
      position: absolute;
      top: 50px;
      left: 40px;
      text-shadow: none;
    }
  }

  .koala-container {
    float: left;
    width: 100%;
    height: 404px;

    #center {
      width: 384px;

      #cont {
        float: left;
        margin: 0;
        top: 0;
        width: unset;
        height: unset;
      }
    }

    #footer {
      display: none;
    }
  }
}

.sidegifs {
  display: none;

  div {
    position: fixed;

    img {
      width: 80px;
    }

    &.pikachu {
      top: 40px;
      right: 60px;
    }

    &.micimacko {
      top: 100px;
      left: 20px;
    }

    &.spongyabob {
      top: 360px;
      left: 10px;
    }

    &.travolta {
      top: 230px;
      right: 10px;
    }

    &.uma {
      top: 230px;
      left: 10px;
    }

    &.shark {
      top: 450px;
      left: 10px;
    }

    &.bb8 {
      top: 490px;
      right: 20px;
    }
  }
}

.glightbox-container .ginner-container.desc-bottom,
.glightbox-container .ginner-container.desc-top {
  width: 100%;
  position: relative;
}

.glightbox-clean .gslide-description {
  background: rgba(255,255,255,0.5) !important;
  padding: 10 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 960px;
  box-sizing: border-box;
  display: inline-block;
}

.glightbox-clean .gslide-title {
  font-size: 20px !important;
  line-height: 20px !important;
  margin: 0;
  font-family: Dosis !important;
}

.glightbox-clean .gslide-desc {
  font-size: 16px !important;
  margin-bottom: 0;
  line-height: 16px !important;
  font-family: Dosis !important;
}
@media (min-width: 540px) {
  .image-container {
    .column {
      -ms-flex: 33.33%;
      flex: 33.33%;
      max-width: 33.33%;
    }
  }

  .merch-container {
    .merch-image-container {
      height: 480px;
      width: 480px;
      margin: 20px calc(50vw - 240px);

      .merch {
        font-size: 12px;

        &.cola {
          top: 10px;
        }

        &.fanta {
          top: 160px;
        }

        &.palinka {
          top: 300px;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .header_container {
    #header {
      a {
        span {
          float: left;
          width: 720px;
          margin: 0 calc(50vw - 360px);
        }
      }
    }
  }

  .block-container {
    width: 720px;
    box-sizing: border-box;
    float: left;
    margin: 0 calc(50vw - 360px);

    .block {
      float: left;
      width: 180px;
      height: 180px;

      &:nth-child(5n) {
        &:hover {
          background: url("./gif3.gif");
          background-size: cover;
        }
      }

      &:nth-child(5n+2) {
        &:hover {
          background: url("./gif3.gif");
          background-size: cover;
        }
      }

      &:nth-child(5n+3) {
        &:hover {
          background: url("./gif1.gif");
          background-size: cover;
        }
      }

      &:nth-child(5n+4) {
        &:hover {
          background: url("./gif2.gif");
          background-size: cover;
        }
      }

      &:hover {
        color: rgba($rg-font-light, 0.5);
        font-size: 16px;
        transition: all 0.5s ease;
        background: url("./gif2.gif");
        transform: rotate(2deg);
        background-size: cover;
      }

      &.concerts {
        &:hover {
          background: url("./gif6.gif");
          background-size: cover;
        }
      }

      &.aboutus {
        &:hover {
          background: url("./gif7.gif");
          background-size: cover;
        }
      }

      &.bd2049 {
        &:hover {
          background: url("./gif8.gif");
          background-size: cover;
        }
      }

      &.contact {
        &:hover {
          background: url("./sw.gif");
          background-size: cover;
          background-position: center;
        }
      }
    }

    .image-container {
      .column {
        -ms-flex: 25%;
        flex: 25%;
        max-width: 25%;
      }
    }

    .merch-container {
      .merch-image-container {
        height: 480px;
        width: 720;
        margin: 20px 0;

        .merch {
          font-size: 12px;

          &.cola {
            top: 10px;
          }

          &.fanta {
            top: 160px;
          }

          &.palinka {
            top: 300px;
          }
        }
      }
    }
  }

  .sidegifs {
    display: block;
  }
}
@media (min-width: 1024px) {
  .header_container {
    #header {
      a {
        span {
          float: left;
          width: 960px;
          margin: 0 calc(50vw - 480px);
        }
      }
    }
  }

  .block-container {
    width: 960px;
    box-sizing: border-box;
    float: left;
    margin: 0 calc(50vw - 480px);

    .block {
      float: left;
      width: 240px;
      height: 240px;
    }

    .merch-container {
      .merch-image-container {
        height: 600px;
        width: 960px;
        margin: 20px 0;

        .merch {
          font-size: 12px;

          &.cola {
            top: 10px;
          }

          &.fanta {
            top: 160px;
          }

          &.palinka {
            top: 300px;
          }
        }
      }
    }
  }
}
