$rg-color-1: #64a6bd;
$rg-color-2: #8e94f2;
$rg-color-3: #558b6e;
$rg-color-4: #957fef;
$rg-color-5: #55286f;
$rg-font-light: #fff;
$rg-font-dark: #000;

body {
  float: left;
  width: 100%;
  background-color: $rg-color-1;
  margin: 0;
  font-family: Dosis, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

.band_header {
  width: 100%;
  float: left;
  padding: 8px;
  font-size: 30px;
  color: $rg-color-5;
  text-transform: lowercase;
  text-align: center;
}

.header_container {
  position: fixed;
  width: 100%;
  z-index: 100;

  #header {
    height: 40px;
    line-height: 40px;
    width: 100%;
    float: left;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    color: $rg-color-2;
    border-bottom: 1px solid $rg-color-2;
    background-color: rgba($rg-color-3, 0.9);
    overflow: hidden;
    box-sizing: border-box;

    .openbtn {
      width: 100%;
      float: left;
      cursor: pointer;
      border-bottom: 1px solid $rg-color-2;
      box-sizing: border-box;
      height: 40px;
      letter-spacing: 2px;
      background-color: $rg-color-5;
    }

    a {
      width: 100%;
      float: left;
      height: 30px;
      font-size: 12px;
      text-decoration: none;
      color: $rg-color-5;
      text-transform: uppercase;
      text-align: center;
      line-height: 30px;
      box-sizing: border-box;

      span {
        float: left;
        width: calc(100% - 40px);
        margin: 0 20px;
        box-sizing: border-box;
        border-bottom: 1px solid $rg-color-1;
      }
    }
  }
}

.block-container {
  width: 100%;
  float: left;
  box-sizing: border-box;
  margin-top: 40px;

  .header {
    text-align: center;
    float: left;
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    background-color: rgba($rg-color-2, 0.2);
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
  }

  .block {
    float: left;
    width: 50vw;
    height: 50vw;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $rg-font-light;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
    font-weight: 200;
    letter-spacing: 2px;

    &:nth-child(5n) {
      background-color: $rg-color-1;

      &:hover {
        background-color: lighten($rg-color-1, 10%);
      }
    }

    &:nth-child(5n+1) {
      background-color: $rg-color-2;

      &:hover {
        background-color: lighten($rg-color-2, 10%);
      }
    }

    &:nth-child(5n+2) {
      background-color: $rg-color-3;

      &:hover {
        background-color: lighten($rg-color-3, 10%);
      }
    }

    &:nth-child(5n+3) {
      background-color: $rg-color-4;

      &:hover {
        background-color: lighten($rg-color-4, 10%);
      }
    }

    &:nth-child(5n+4) {
      background-color: $rg-color-5;

      &:hover {
        background-color: lighten($rg-color-5, 10%);
      }
    }

    &:hover {
      color: rgba($rg-font-light, 0.5);
      font-size: 16px;
      transition: all 0.5s ease;
      transform: rotate(3deg);
      background-size: cover;
    }
  }

  .video-container {
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: center;

    .video-intro {
      width: 100%;
      float: left;
      box-sizing: border-box;
      color: $rg-font-dark;
      padding: 20px 0;

      .title {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
      }

      .description {
        font-style: italic;
        padding: 0 10px;
        text-align: center;
      }
    }

    iframe {
      width: calc(100vw - 20px);
      height: calc(0.6 * (100vw - 20px));
    }

    .boring-details {
      margin-top: 10px;

      .title {
        cursor: pointer;
        font-weight: 600;

        &:hover {
          color: $rg-color-5;
        }
      }

      .content {
        span {
          font-weight: 600;
        }

        &#boringDetails1,
        &#boringDetails2 {
          display: none;
        }
      }
    }
  }

  .contact-container {
    padding: 10px;

    ul {
      padding: 0;

      li {
        list-style-type: none;

        .bold {
          font-weight: 700;
        }
      }
    }
  }

  .fb-container {
    text-align: center;
    margin: 20px 0;
  }

  .insta-container {
    text-align: center;
    margin: 20px 0;
  }

  .music-container {
    text-align: center;
    margin: 20px 0;

    .soundcloud-container {
      width: 300px;
      margin: 20px calc(50% - 150px);
    }
  }

  .concert-container {
    padding: 10px;
    float: left;
    width: 100%;
    box-sizing: border-box;

    .concert-block-container {
      .year-header {
        text-align: center;
        float: left;
        width: 100%;
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 20px;
        font-style: italic;
        height: 30px;
        line-height: 30px;
        background-color: rgba($rg-color-3, 0.1);
      }

      ul {
        padding: 0;

        li {
          list-style-type: none;
          line-height: 24px;
          font-size: 12px;
          letter-spacing: 1px;
          border-bottom: 1px solid rgba($rg-color-4,0.05);
          padding: 5px;
          text-align: center;

          a {
            color: $rg-color-5;
            text-decoration: none;
            cursor: pointer;

            &:hover {
              color: $rg-color-4;
            }
          }

          iframe {
            margin: 0 calc(50% - 250px);
            display: none;
          }
        }
      }
    }
  }

  .image-container {
    .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0 4px;
    }

    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
      padding: 0 4px;
      box-sizing: border-box;

      .frame {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
        overflow: hidden;
        position: relative;
        transition: all 0.5s ease;

        img {
          filter: grayscale(66%);
          transition: all 0.5s ease;
          width: 100%;
        }

        .content {
          position: absolute;
          bottom: 0;
          background-color: rgba($rg-font-dark, 0.6);
          height: 43px;
          width: 100%;

          h1 {
            font-size: 20px;
            color: $rg-font-light;
            text-align: center;
            font-weight: 200;
            text-transform: uppercase;
            margin: 0;
          }

          p {
            font-size: 14px;
            color: $rg-font-light;
            text-align: center;
            font-weight: 200;
            text-transform: lowercase;
            margin: 0;
          }
        }

        &:hover {
          img {
            transition: all 0.5s ease;
            filter: grayscale(0%);
            width: 104%;
            margin-left: -2%;
          }

          .content {
            opacity: 0;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }

  .merch-container {
    .merch-image-container {
      background: url("./grocery.jpg");
      background-size: cover;
      float: left;
      height: 600px;
    }
  }
}
@media (min-width: 540px) {
  .block-container {
    .concert-container {
      .concert-block-container {
        ul {
          li {
            iframe {
              display: block;
            }
          }
        }
      }
    }

    .image-container {
      .column {
        -ms-flex: 33.33%;
        flex: 33.33%;
        max-width: 33.33%;
      }
    }
  }
}
@media (min-width: 768px) {
  .block-container {
    width: 720px;
    height: 720px;
    box-sizing: border-box;
    float: left;
    margin: 40px calc(50vw - 360px);

    .block {
      float: left;
      width: 180px;
      height: 180px;

      &:nth-child(5n) {
        &:hover {
          background: url("./gif3.gif");
          background-size: cover;
        }
      }

      &:nth-child(5n+2) {
        &:hover {
          background: url("./gif3.gif");
          background-size: cover;
        }
      }

      &:nth-child(5n+3) {
        &:hover {
          background: url("./gif1.gif");
          background-size: cover;
        }
      }

      &:nth-child(5n+4) {
        &:hover {
          background: url("./gif2.gif");
          background-size: cover;
        }
      }

      &:hover {
        color: rgba($rg-font-light, 0.5);
        font-size: 16px;
        transition: all 0.5s ease;
        background: url("./gif2.gif");
        transform: rotate(3deg);
        background-size: cover;
      }

      &.concerts {
        &:hover {
          background: url("./gif6.gif");
          background-size: cover;
        }
      }
    }

    .image-container {
      .column {
        -ms-flex: 25%;
        flex: 25%;
        max-width: 25%;
      }
    }

    .video-container {
      iframe {
        width: 720px;
        height: 432px;
      }
    }
  }
}
@media (min-width: 1024px) {
  .block-container {
    width: 960;
    height: 960;
    box-sizing: border-box;
    float: left;
    margin: 100px calc(50vw - 480px);

    .block {
      float: left;
      width: 240px;
      height: 240px;
    }
  }
}
