@import 'colorpaletta';

body {
  float: left;
  width: 100%;
  background-color: #fff;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

.ui-loader {
  display: none;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
}

.band_header {
  width: 100%;
  float: left;
  padding: 8px;
  font-size: 30px;
  color: $rg-color-5;
  text-transform: lowercase;
  text-align: center;
}

.header_container {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 80px;
  background-color: $rg-menu-blue;
  line-height: 80px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;

  .topbar {
    position: absolute;
    right: 10px;
    top: 0px;
    height: 80px;
    line-height: 80px;

    .fb,
    .insta,
    .yt {
      float: right;
      width: auto;
      margin: 0 3px;
      @media (min-width: 768px) {
        margin: 0 5px;
      }
      height: 80px;
      line-height: 80px;
      font-size: 20px;
      text-transform: lowercase;

      span {
        display: none;
        float: right;
        margin: 0;
        width: auto;
        border: none;
        @media (min-width: 768px) {
          display: block;
        }
      }

      svg {
        margin: 25px 0;
        font-size: 20px;
        height: 30px;
        line-height: 80px;
        width: initial;
        color: #fff;
      }
    }
  }
  .openbtn {
    cursor: pointer;
    width: 25vw;
    text-align: center;
    position: absolute;
    left: 0px;
    background-color: rgba(255,255,255, 0.1);
  }
}

#menu {
  height: auto;
  width: 25vw;
  float: left;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 20px;
  position: fixed;
  top: 80px;
  left: -25vw;
  z-index: 100;

  a {
    width: 100%;
    float: left;
    height: 50px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    background-color: #1f60d6;

    span {
      box-sizing: border-box;
      font-weight: 400;
    }

    &:hover {
      color: lighten($rg-menu-blue, 10%);
    }
    &:nth-child(5n + 1){
      background-color: $rg-color-1;
    }
    &:nth-child(5n + 2){
      background-color: $rg-color-2;
    }
    &:nth-child(5n + 3){
      background-color: $rg-color-3;
    }
    &:nth-child(5n + 4){
      background-color: $rg-color-4;
    }
    &:nth-child(5n){
      background-color: $rg-color-5;
    }
  }
}

.footer_container {
  width: 100%;
  float: left;
  background-color: $rg-color-1;
  color: $rg-color-2;
  text-align: center;
  position: relative;

  a {
    color: $rg-color-2;
    text-decoration: none;
    font-size: 18px;
    @media (min-width: 768px) {
      font-size: 12px;
      letter-spacing: 1px;
    }

    &:hover {
      text-decoration: none;
      color: lighten($rg-color-2, 10%);
    }

    svg {
      margin: 0 5px;
    }

    span {
      display: none;
      @media (min-width: 768px) {
        display: inline-block;
      }
    }
  }

  .upper {
    width: 100%;
    float: left;
    line-height: 30px;
  }

  .creator {
    width: 100%;
    float: left;
    height: 30px;
    line-height: 30px;
    background-color: #000;
    font-size: 12px;
    white-space: nowrap;

    span {
      display: inline-block;
      font-size: 12px;
      width: auto;
    }
  }

  &.koala {
    position: fixed;
    bottom: 0;
  }
}

.header {
  position: absolute;
  text-align: center;
  float: left;
  width: 100%;
  color: $rg-font-light;
  text-transform: uppercase;
  font-size: 20px;
  height: 40px;
  line-height: 42px;
  background-color: $rg-color-5;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  margin-top: -40px;
  font-weight: 200;
  transition: all 0.5s ease;
}

.block-container {
  width: 100%;
  float: left;
  box-sizing: border-box;
  color: $rg-font-light;
  text-align: center;
  transition: all 0.5s ease;

  &.home {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .block {
    float: left;
    width: 50vw;
    height: 50vw;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $rg-font-light;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
    font-weight: 200;
    letter-spacing: 2px;
    border: 1px solid $rg-color-3;

    &:nth-child(5n) {
      background-color: rg-color-3;

      &:hover {
        background-color: lighten($rg-color-3, 10%);
      }
    }

    &:nth-child(5n+1) {
      width: 100vw;
      background-color: $rg-color-2;

      &:hover {
        background-color: lighten($rg-color-2, 10%);
      }
    }

    &:nth-child(5n+2) {
      background-color: $rg-color-1;

      &:hover {
        background-color: lighten($rg-color-1, 10%);
      }
    }

    &:nth-child(5n+3) {
      background-color: $rg-color-4;

      &:hover {
        background-color: lighten($rg-color-4, 10%);
      }
    }

    &:nth-child(5n+4) {
      background-color: $rg-color-5;

      &:hover {
        background-color: lighten($rg-color-5, 10%);
      }
    }

    &:hover {
      color: rgba($rg-font-light, 0.5);
      font-size: 16px;
      transition: all 0.5s ease;
      transform: rotate(2deg);
      background-size: cover;
      letter-spacing: 4px;
      font-weight: 600;
    }
  }

  .fb-container {
    text-align: center;
    margin: 20px 0;
  }

  .insta-container {
    text-align: center;
    margin: 20px 0;
  }

  .koala-container {
    float: left;
    width: 100%;
    height: 404px;

    #center {
      width: 384px;

      #cont {
        float: left;
        margin: 0;
        top: 0;
        width: unset;
        height: unset;
      }
    }

    #footer {
      display: none;
    }
  }

  &.koala {
    margin-top: 106px;
  }

  &.k49 {
    margin-top: 80px;
  }

  &.us {
    margin-top: 80px;
  }

  &.quiz {
    margin-top: 76px;
  }

  &.personality {
    margin-top: 106px;
  }

  &.merch {
    margin-top: 76px;
  }

  &.tinder {
    margin-top: 76px;
  }

  &.concerts {
    margin-top: 40px;
  }
}

.sidegifs {
  display: none;

  div {
    position: fixed;

    img {
      width: 80px;
      transition: all 666ms ease;

      &:hover {
        transform: rotate(360deg);
      }
    }

    &.pikachu {
      top: 40px;
      right: 60px;
    }

    &.micimacko {
      top: 100px;
      left: 20px;
    }

    &.spongyabob {
      top: 360px;
      left: 10px;
    }

    &.travolta {
      top: 230px;
      right: 10px;
    }

    &.uma {
      top: 230px;
      left: 10px;
    }

    &.shark {
      top: 450px;
      left: 10px;
    }

    &.bb8 {
      top: 490px;
      right: 20px;
    }
  }
}

.glightbox-container .ginner-container.desc-bottom,
.glightbox-container .ginner-container.desc-top {
  width: 100%;
  position: relative;
}

.glightbox-clean .gslide-description {
  background: rgba(255,255,255,0.5) !important;
  padding: 10 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 960px;
  box-sizing: border-box;
  display: inline-block;
}

.glightbox-clean .gslide-title {
  font-size: 20px !important;
  line-height: 20px !important;
  margin: 0;
  font-family: "Open Sans" !important;
}

.glightbox-clean .gslide-desc {
  font-size: 16px !important;
  margin-bottom: 0;
  line-height: 16px !important;
  font-family: "Open Sans" !important;
}
@media (min-width: 768px) {
  .block-container {
    width: 720px;
    box-sizing: border-box;
    float: left;
    margin: 80px calc(50vw - 360px);

    &.home {
      width: 100%;
      margin: 80px 0 0;
    }

    .block {
      float: left;
      width: 25%;
      height: 200px;
      border: none;

      &:nth-child(5n) {
        &:hover {
          background: url("./gif3.gif");
          background-size: cover;
        }
      }

      &:nth-child(5n+1) {
        width: 50%;
      }

      &:nth-child(5n+2) {
        &:hover {
          background: url("./gif3.gif");
          background-size: cover;
        }
      }

      &:nth-child(5n+3) {
        &:hover {
          background: url("./gif1.gif");
          background-size: cover;
        }
      }

      &:nth-child(5n+4) {
        &:hover {
          background: url("./gif2.gif");
          background-size: cover;
        }
      }

      &:hover {
        color: rgba($rg-font-light, 0.5);
        font-size: 16px;
        transition: all 0.5s ease;
        background: url("./gif2.gif");
        transform: rotate(2deg);
        background-size: cover;
      }

      &.concerts {
        background: url("./bulikrumpli.jpg");
        background-size: cover;
        background-position: top center;
        transition: all 0.5s ease;
        &:hover {
          background: url("./bulikrumpli.gif");
          background-size: cover;
          background-position: top center;
          transition: all 0.5s ease;
        }
      }

      &.aboutus {
        &:hover {
          background: url("./gif7.gif");
          background-size: cover;
        }
      }

      &.bd2049 {
        width: 25%;
        background: url("./2049.jpg");
        background-size: cover;
        background-position: top center;
        transition: all 0.5s ease;
        &:hover {
          background: url("./2049.gif");
          background-size: cover;
          background-position: top center;
          transition: all 0.5s ease;
        }
      }

      &.contact {
        &:hover {
          background: url("./sw.gif");
          background-size: cover;
          background-position: center;
        }
      }

      &.videos {
        width: 75%;
        background: url("./videogif.jpg");
        background-size: cover;
        background-position: center;
        transition: all 0.5s ease;
        &:hover {
          background: url("./videogif.gif");
          background-size: cover;
          background-position: center;
          transition: all 0.5s ease;
        }
      }
    }
  }

  .sidegifs {
    display: block;
  }
}
@media (min-width: 1024px) {
  .block-container {
    width: 960px;
    box-sizing: border-box;
    float: left;
    margin: 80px calc(50vw - 480px);

    .block {
      float: left;
      height: 200px;
    }
  }
}
