@import 'colorpaletta';

body {
  width: 100%;
  background-color: #fff;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  min-height: 100vh;
}

#btnToTop {
  opacity: 0;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  @media (min-width: 768px) {
    width: 60px;
    height: 60px;
  }
  transition: all 1s ease;

  &:hover {
    filter: invert(100%);
    transition: all 1s ease;
  }
}

.header_container {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 50px;
  background-color: #000;
  line-height: 50px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  top: 0px;
  @media (min-width: 768px) {
    height: 80px;
    line-height: 80px;
    font-size: 24px;
  }

  .rg_header {
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #ff0700;
    }
  }

  .topbar {
    position: absolute;
    right: 22px;
    top: 0;
    height: 50px;
    line-height: 50px;
    @media (min-width: 768px) {
      right: 10px;
      height: 80px;
      line-height: 80px;
    }

    .fb,
    .insta,
    .yt {
      float: right;
      width: auto;
      margin: 0 3px;
      @media (min-width: 768px) {
        margin: 0 5px;
        height: 80px;
        line-height: 80px;
      }
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      text-transform: lowercase;

      span {
        display: none;
        float: right;
        margin: 0;
        width: auto;
        border: none;
        @media (min-width: 768px) {
          display: block;
        }
      }

      svg {
        margin: 15px 0;
        font-size: 20px;
        height: 20px;
        line-height: 50px;
        width: initial;
        color: #fff;
        @media (min-width: 768px) {
          margin: 25px 0;
          font-size: 30px;
          height: 30px;
          line-height: 80px;
        }

        &:hover {
          color: #ff0700;
        }
      }
    }
  }

  .openbtn {
    cursor: pointer;
    width: 25vw;
    text-align: center;
    position: absolute;
    left: 0;
    background-color: rgba(255,255,255, 0.1);

    &:hover {
      color: #ff0700;
    }
  }
}

#menu {
  width: 100vw;
  float: left;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: 3px;
  position: fixed;
  font-weight: 900;
  top: 50px;
  padding-top: calc(50vh - 225px);
  bottom: 0;
  left: -100vw;
  z-index: 1000;
  overflow: auto;
  @media (min-width: 768px) {
    width: 100vw;
    left: -100vw;
    top: 80px;
    padding-top: calc(50vh - 340px);
  }

  a {
    width: 100%;
    float: left;
    height: 35px;
    font-size: 13px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
    box-sizing: border-box;
    background-color: #fff;
    @media (min-width: 768px) {
      height: 45px;
      line-height: 45px;
      font-size: 15px;
    }

    span {
      box-sizing: border-box;
      font-weight: 900;
    }

    &:hover {
      color: #ff0700;
    }
  }
}

.footer_container {
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;

  a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    @media (min-width: 768px) {
      font-size: 12px;
      letter-spacing: 1px;
    }

    &:hover {
      text-decoration: none;
      color: #ff0700;
    }

    svg {
      margin: 0 5px;
    }

    span {
      display: none;
      font-weight: 100;
      @media (min-width: 768px) {
        display: inline-block;
      }
    }
  }

  .upper {
    width: 100%;
    line-height: 18px;
    display: flex;
    padding: 18px 0 4px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
  }

  .creator {
    width: 100%;
    font-size: 9px;
    display: flex;
    padding: 4px 0;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    @media (min-width: 768px) {
      font-size: 12px;
    }
  }

  &.koala {
    position: fixed;
    bottom: 0;
  }
}

.header {
  position: absolute;
  text-align: center;
  width: 100%;
  color: $rg-font-light;
  text-transform: uppercase;
  font-size: 20px;
  height: 40px;
  line-height: 42px;
  background-color: $rg-color-5;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  margin-top: -40px;
  font-weight: 200;
  transition: all 0.5s ease;
}

.block-container {
  width: 100%;
  box-sizing: border-box;
  color: #000;
  text-align: center;
  transition: all 0.5s ease;
  @media (min-width: 768px) {
    width: 720px;
    box-sizing: border-box;
    margin: 80px calc(50vw - 360px);
    @media (min-width: 1024px) {
      width: 960px;
      box-sizing: border-box;
      margin: 80px calc(50vw - 480px);
    }
  }

  &.home {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 50px;
    @media (min-width: 768px) {
      padding-top: 80px;
    }
  }

  .block {
    width: 50vw;
    height: 50vw;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
    font-weight: 200;
    letter-spacing: 2px;
    border: 1px solid #000;
    background-color: #fff;
    @media (min-width: 768px) {
      width: 25%;
      background-size: cover;
      height: 200px;
      background-position: top center;
    }

    &:hover {
      color: rgba($rg-font-light, 0.25);
      font-size: 16px;
      transition: all 0.5s ease;
      letter-spacing: 5px;
      font-weight: 900;
      background-size: cover;
      background-position: top center;
    }
    @media (min-width: 768px) {
      &:nth-child(5n) {
        &:hover {
          background-image: url("./gif3.gif");
        }
      }

      &:nth-child(5n+1) {
        width: 50%;
      }

      &:nth-child(5n+2) {
        &:hover {
          background-image: url("./gif3.gif");
        }
      }

      &:nth-child(5n+3) {
        &:hover {
          background-image: url("./gif1.gif");
        }
      }

      &:nth-child(5n+4) {
        &:hover {
          background-image: url("./gif2.gif");
        }
      }

      &:hover {
        color: rgba($rg-font-light, 0.5);
        font-size: 16px;
        background-image: url("./gif2.gif");
      }

      &.concerts {
        background-image: url("./bulikrumpli.jpg");

        &:hover {
          background-image: url("./bulikrumpli.gif");
        }
      }

      &.shit {
        &:hover {
          background-image: url("./gif7.gif");
        }
      }

      &.bd2049 {
        width: 25%;
        background-image: url("./2049.jpg");

        &:hover {
          background-image: url("./2049.gif");
        }
      }

      &.flappy {
        width: 25%;
        background-image: url("./flappy.jpg");
        background-position: left center;

        &:hover {
          background-image: url("./flappy.gif");
          background-position: left center;
        }
      }

      &.merch {
        width: 50%;
      }

      &.personality {
        width: 75%;

        &:hover {
          background-image: url("./quiz.gif");
        }
      }

      &.contact {
        &:hover {
          background-image: url("./sw.gif");
        }
      }

      &.videos {
        width: 75%;
        background-image: url("./videogif.jpg");

        &:hover {
          background-image: url("./videogif.gif");
        }
      }
    }
  }

  .fb-container {
    text-align: center;
    margin: 20px 0;
  }

  .insta-container {
    text-align: center;
    margin: 20px 0;
  }

  .koala-container {
    width: 100%;
    height: 404px;

    #center {
      width: 384px;

      #cont {
        margin: 0;
        top: 0;
        width: unset;
        height: unset;
      }
    }

    #footer {
      display: none;
    }
  }

  &.koala {
    margin-top: 106px;
  }

  &.k49 {
    margin-top: 80px;
    min-height: calc(100vh - 65px);
  }

  &.us {
    margin-top: 80px;
  }

  &.quiz {
    margin-top: 76px;
  }

  &.personality {
    margin-top: 106px;
  }

  &.videos {
    padding-bottom: 76px;
  }

  &.merch {
    margin-top: 76px;
  }

  &.tinder {
    min-height: 544px;
    overflow: auto;
    margin: 70px 0 100px;
    width: 100%;
    overflow: hidden;
    @media (min-width: 768px) {
      margin: 100px 0;
    }
  }

  &.concerts {
    margin-top: 40px;
    @media (min-width: 768px) {
      margin-top: 80px;
    }
  }
}

.glightbox-container .gslide {
  position: absolute !important;
  top: 0;
  bottom: 0;
}

.glightbox-container .ginner-container.desc-bottom,
.glightbox-container .ginner-container.desc-top {
  width: 100%;
  position: relative;
}

.glightbox-mobile .glightbox-container .gslide-description {
  position: static !important;
  bottom: 0 !important;
  background-color: #fff !important;
  width: 100%;
  @media (min-width: 768px) {
    background: rgba(255,255,255,0.5) !important;
    position: absolute !important;
  }
}

.glightbox-mobile .glightbox-container .gslide-desc .desc-more {
  color: #000 !important;
  opacity: 1 !important;
}

.glightbox-mobile .glightbox-container .gslide-desc {
  color: #000 !important;
}

.glightbox-mobile .glightbox-container .gslide-title {
  color: #000 !important;
}

.glightbox-clean .gslide-description {
  background: rgba(255,255,255,0.5) !important;
  color: #000 !important;
  padding: 10px !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  display: inline-block;

  h4 {
    margin-bottom: 10px !important;
    text-transform: uppercase;
  }
}

.glightbox-clean .gslide-title {
  font-size: 14px !important;
  line-height: 14px !important;
  @media (min-width: 768px) {
    font-size: 18px !important;
    line-height: 18px !important;
  }
  margin: 0;
  font-family: "Open Sans" !important;
}

.glightbox-clean .gslide-desc {
  font-size: 12px !important;
  margin-bottom: 0;
  line-height: 12px !important;
  @media (min-width: 768px) {
    font-size: 12px !important;
    line-height: 18px !important;
  }
  font-family: "Open Sans" !important;
}
