body {
  float: left;
  width: 100%;
  background-color: #cca43b;
  margin: 0;
  font-family: Dosis, sans-serif;
  overflow-x: hidden;
  overflow-y: auto; }

.ui-loader {
  display: none; }

.band_header {
  width: 100%;
  float: left;
  padding: 8px;
  font-size: 30px;
  color: #9e4770;
  text-transform: lowercase;
  text-align: center; }

.header_container {
  position: fixed;
  width: 100%;
  z-index: 100; }
  .header_container #header {
    height: 40px;
    line-height: 40px;
    width: 100%;
    float: left;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid #8b1e3f;
    background-color: rgba(204, 164, 59, 0.95);
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-size: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
    .header_container #header .openbtn {
      width: 100%;
      float: left;
      cursor: pointer;
      color: #fff;
      border-bottom: 1px solid #8b1e3f;
      box-sizing: border-box;
      height: 40px;
      letter-spacing: 2px;
      background-color: #8b1e3f; }
    .header_container #header a {
      width: 100%;
      float: left;
      height: 25px;
      font-size: 11px;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      line-height: 25px;
      box-sizing: border-box;
      letter-spacing: 2px; }
      .header_container #header a span {
        float: left;
        width: calc(100% - 40px);
        margin: 0 20px;
        box-sizing: border-box;
        border-bottom: 1px solid #3d0814; }

.block-container {
  width: 100%;
  float: left;
  box-sizing: border-box;
  margin-top: 40px;
  color: #fff;
  text-align: center;
  transition: all 0.5s ease; }
  .block-container .header {
    text-align: center;
    float: left;
    width: 100%;
    color: #8b1e3f;
    text-transform: uppercase;
    font-size: 20px;
    height: 40px;
    line-height: 42px;
    background-color: #9e4770;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    margin-top: -40px;
    font-weight: 200;
    transition: all 0.5s ease; }
  .block-container .block {
    float: left;
    width: 50vw;
    height: 50vw;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
    font-weight: 200;
    letter-spacing: 2px;
    border: 2px solid #cca43b;
    border-radius: 5px; }
    .block-container .block:nth-child(5n) {
      background-color: #D5B0AC; }
      .block-container .block:nth-child(5n):hover {
        background-color: #e6d0ce; }
    .block-container .block:nth-child(5n+1) {
      background-color: #8b1e3f; }
      .block-container .block:nth-child(5n+1):hover {
        background-color: #b52752; }
    .block-container .block:nth-child(5n+2) {
      background-color: #3d0814; }
      .block-container .block:nth-child(5n+2):hover {
        background-color: #6a0e23; }
    .block-container .block:nth-child(5n+3) {
      background-color: #631d76; }
      .block-container .block:nth-child(5n+3):hover {
        background-color: #85279f; }
    .block-container .block:nth-child(5n+4) {
      background-color: #9e4770; }
      .block-container .block:nth-child(5n+4):hover {
        background-color: #b86089; }
    .block-container .block:hover {
      color: rgba(255, 255, 255, 0.5);
      font-size: 16px;
      transition: all 0.5s ease;
      transform: rotate(2deg);
      background-size: cover;
      letter-spacing: 4px;
      font-weight: 600; }
  .block-container .video-container {
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: center; }
    .block-container .video-container .video-intro {
      width: 100%;
      float: left;
      box-sizing: border-box;
      padding: 20px 0; }
      .block-container .video-container .video-intro .title {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center; }
      .block-container .video-container .video-intro .description {
        font-style: italic;
        padding: 0 10px;
        text-align: center; }
    .block-container .video-container iframe {
      width: calc(100vw - 20px);
      height: calc(0.6 * (100vw - 20px));
      border-radius: 3px; }
    .block-container .video-container .boring-details {
      margin-top: 10px; }
      .block-container .video-container .boring-details .title {
        cursor: pointer;
        font-weight: 600; }
        .block-container .video-container .boring-details .title:hover {
          color: #9e4770; }
      .block-container .video-container .boring-details .content span {
        font-weight: 600; }
      .block-container .video-container .boring-details .content#boringDetails1, .block-container .video-container .boring-details .content#boringDetails2 {
        display: none; }
  .block-container .contact-container {
    padding: 10px; }
    .block-container .contact-container ul {
      padding: 0; }
      .block-container .contact-container ul li {
        list-style-type: none; }
        .block-container .contact-container ul li .bold {
          font-weight: 700; }
  .block-container .fb-container {
    text-align: center;
    margin: 20px 0; }
  .block-container .insta-container {
    text-align: center;
    margin: 20px 0; }
  .block-container .music-container {
    text-align: center;
    margin: 20px 0; }
    .block-container .music-container .soundcloud-container {
      width: 300px;
      margin: 20px calc(50% - 150px); }
  .block-container .concert-container {
    padding: 10px;
    float: left;
    width: 100%;
    box-sizing: border-box; }
    .block-container .concert-container .concert-block-container .year-header {
      text-align: center;
      float: left;
      width: 100%;
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 20px;
      font-style: italic;
      height: 30px;
      line-height: 30px;
      background-color: rgba(204, 164, 59, 0.1); }
    .block-container .concert-container .concert-block-container ul {
      padding: 0; }
      .block-container .concert-container .concert-block-container ul li {
        list-style-type: none;
        line-height: 24px;
        font-size: 12px;
        letter-spacing: 1px;
        border-bottom: 1px solid rgba(99, 29, 118, 0.05);
        padding: 5px;
        text-align: center; }
        .block-container .concert-container .concert-block-container ul li a {
          color: #9e4770;
          text-decoration: none;
          cursor: pointer; }
          .block-container .concert-container .concert-block-container ul li a:hover {
            color: #631d76; }
        .block-container .concert-container .concert-block-container ul li iframe {
          margin: 0 calc(50% - 250px);
          display: none; }
  .block-container .image-container .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px; }
  .block-container .image-container .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
    box-sizing: border-box; }
    .block-container .image-container .column .frame {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
      overflow: hidden;
      position: relative;
      transition: all 0.5s ease;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
      border-radius: 3px; }
      .block-container .image-container .column .frame img {
        filter: grayscale(77%);
        transition: all 0.5s ease;
        width: 100%;
        border-radius: 3px; }
      .block-container .image-container .column .frame .content {
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        height: 43px;
        width: 100%; }
        .block-container .image-container .column .frame .content h1 {
          font-size: 20px;
          color: #fff;
          text-align: center;
          font-weight: 200;
          text-transform: uppercase;
          margin: 0; }
        .block-container .image-container .column .frame .content p {
          font-size: 14px;
          color: #fff;
          text-align: center;
          font-weight: 200;
          text-transform: lowercase;
          margin: 0; }
      .block-container .image-container .column .frame:hover img {
        transition: all 0.5s ease;
        filter: grayscale(0%);
        transform: scale(1.11); }
      .block-container .image-container .column .frame:hover .content {
        opacity: 0;
        transition: all 0.5s ease; }
  .block-container .merch-container .merch-image-container {
    background: url("./grocery.jpg");
    background-size: cover;
    float: left;
    height: 700px;
    position: relative;
    width: 320px;
    margin: 20px calc(50vw - 160px); }
    .block-container .merch-container .merch-image-container .merch {
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: #631d76;
      color: #fff;
      font-weight: 200;
      display: block;
      opacity: 0.3;
      transition: all 0.5s ease;
      text-transform: uppercase;
      font-size: 12px; }
      .block-container .merch-container .merch-image-container .merch.cola {
        bottom: 10px;
        left: 10px; }
      .block-container .merch-container .merch-image-container .merch.fanta {
        top: 160px;
        right: 20px; }
      .block-container .merch-container .merch-image-container .merch.palinka {
        top: 300px;
        left: 40px; }
      .block-container .merch-container .merch-image-container .merch:hover {
        opacity: 0.9;
        transition: all 0.5s ease;
        width: 120px;
        height: 120px; }
      .block-container .merch-container .merch-image-container .merch .prize,
      .block-container .merch-container .merch-image-container .merch .title {
        width: 100%;
        float: left;
        text-align: center;
        position: absolute; }
      .block-container .merch-container .merch-image-container .merch .title {
        top: 10px; }
      .block-container .merch-container .merch-image-container .merch .prize {
        bottom: 10px; }
  .block-container .about-us-container {
    background-color: #fff;
    float: left;
    width: 100%;
    margin-top: 20px; }
    .block-container .about-us-container .article {
      float: left;
      margin: 20px 0;
      padding: 0 10px;
      color: #000; }
      .block-container .about-us-container .article a {
        text-decoration: none;
        color: #000; }
        .block-container .about-us-container .article a:hover {
          text-decoration: underline; }
      .block-container .about-us-container .article .title {
        font-family: 'Slabo 13px';
        font-size: 23px;
        font-style: bold; }
        .block-container .about-us-container .article .title span {
          background-color: #faff69; }
      .block-container .about-us-container .article img {
        width: 100%;
        margin: 20px 0; }
      .block-container .about-us-container .article .description {
        font-family: 'Noticia Text'; }
  .block-container .tinder-container {
    background-color: #f5f7fa; }
    .block-container .tinder-container .tinder-card-container {
      height: 500px;
      width: 300px;
      margin: 0 calc(50% - 150px);
      display: block;
      border-radius: 10px;
      top: 50px;
      position: absolute;
      cursor: hand;
      box-shadow: 0 2px 10px 0 rgba(156, 156, 156, 0.77); }
      .block-container .tinder-container .tinder-card-container .tinder-image-container img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; }
      .block-container .tinder-container .tinder-card-container .tinder-description-container {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 200px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        color: #000;
        bottom: 0; }
        .block-container .tinder-container .tinder-card-container .tinder-description-container .basic-info {
          height: 70px;
          padding: 10px 20px;
          text-align: left;
          box-sizing: border-box;
          border-bottom: 1px solid #e8e8e8; }
          .block-container .tinder-container .tinder-card-container .tinder-description-container .basic-info .name {
            font-size: 16px;
            text-align: left;
            text-transform: uppercase; }
          .block-container .tinder-container .tinder-card-container .tinder-description-container .basic-info .job {
            color: #aaa;
            text-align: left;
            font-size: 12px; }
          .block-container .tinder-container .tinder-card-container .tinder-description-container .basic-info .location {
            color: #aaa;
            text-align: left;
            font-size: 12px; }
          .block-container .tinder-container .tinder-card-container .tinder-description-container .basic-info svg {
            padding-right: 5px; }
        .block-container .tinder-container .tinder-card-container .tinder-description-container .interest {
          float: left;
          width: 100%;
          height: 60px;
          display: flex;
          padding: 0 20px;
          justify-content: left;
          align-items: center;
          text-align: left;
          box-sizing: border-box;
          border-bottom: 1px solid #e8e8e8; }
        .block-container .tinder-container .tinder-card-container .tinder-description-container .decision {
          position: absolute;
          bottom: 0;
          height: 70px;
          width: 100%;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          box-sizing: border-box; }
          .block-container .tinder-container .tinder-card-container .tinder-description-container .decision .decision-block {
            width: 33.33%;
            float: left;
            height: 60px;
            line-height: 60px;
            font-size: 30px; }
            .block-container .tinder-container .tinder-card-container .tinder-description-container .decision .decision-block svg {
              margin-top: 15px; }
            .block-container .tinder-container .tinder-card-container .tinder-description-container .decision .decision-block.left {
              color: #ff0970; }
            .block-container .tinder-container .tinder-card-container .tinder-description-container .decision .decision-block.middle {
              color: #1ca9ff; }
            .block-container .tinder-container .tinder-card-container .tinder-description-container .decision .decision-block.right {
              color: #04ec92; }
    .block-container .tinder-container #container {
      margin: auto !important;
      display: block;
      position: relative;
      list-style-type: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .block-container .tinder-container .buddy {
      display: block;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      color: #fff;
      top: 50px;
      left: 50px;
      position: absolute;
      cursor: hand; }
    .block-container .tinder-container .rotate-left {
      transform: rotate(30deg) scale(0.8);
      transition: 1s;
      margin-left: 400px;
      cursor: e-resize;
      opacity: 0;
      z-index: 10; }
    .block-container .tinder-container .rotate-right {
      transform: rotate(-30deg) scale(0.8);
      transition: 1s;
      opacity: 0;
      margin-left: -400px;
      cursor: w-resize;
      z-index: 10; }
    .block-container .tinder-container .like {
      border-radius: 5px;
      padding: 5px 10px;
      border: 2px solid green;
      color: green;
      text-transform: uppercase;
      font-size: 15px;
      position: absolute;
      top: 50px;
      right: 40px;
      text-shadow: none; }
    .block-container .tinder-container .dislike {
      border-radius: 5px;
      padding: 5px 10px;
      border: 2px solid red;
      color: red;
      text-transform: uppercase;
      font-size: 15px;
      position: absolute;
      top: 50px;
      left: 40px;
      text-shadow: none; }
  .block-container .koala-container {
    float: left;
    width: 100%;
    height: 404px; }
    .block-container .koala-container #center {
      width: 384px; }
      .block-container .koala-container #center #cont {
        float: left;
        margin: 0;
        top: 0;
        width: unset;
        height: unset; }
    .block-container .koala-container #footer {
      display: none; }

.sidegifs {
  display: none; }
  .sidegifs div {
    position: fixed; }
    .sidegifs div img {
      width: 80px; }
    .sidegifs div.pikachu {
      top: 40px;
      right: 60px; }
    .sidegifs div.micimacko {
      top: 100px;
      left: 20px; }
    .sidegifs div.spongyabob {
      top: 360px;
      left: 10px; }
    .sidegifs div.travolta {
      top: 230px;
      right: 10px; }
    .sidegifs div.uma {
      top: 230px;
      left: 10px; }
    .sidegifs div.shark {
      top: 450px;
      left: 10px; }
    .sidegifs div.bb8 {
      top: 490px;
      right: 20px; }

.glightbox-container .ginner-container.desc-bottom,
.glightbox-container .ginner-container.desc-top {
  width: 100%;
  position: relative; }

.glightbox-clean .gslide-description {
  background: rgba(255, 255, 255, 0.5) !important;
  padding: 10 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 960px;
  box-sizing: border-box;
  display: inline-block; }

.glightbox-clean .gslide-title {
  font-size: 20px !important;
  line-height: 20px !important;
  margin: 0;
  font-family: Dosis !important; }

.glightbox-clean .gslide-desc {
  font-size: 16px !important;
  margin-bottom: 0;
  line-height: 16px !important;
  font-family: Dosis !important; }

@media (min-width: 540px) {
  .block-container .concert-container .concert-block-container ul li iframe {
    display: block; }
  .block-container .image-container .column {
    -ms-flex: 33.33%;
    flex: 33.33%;
    max-width: 33.33%; }
  .block-container .merch-container .merch-image-container {
    height: 480px;
    width: 480px;
    margin: 20px calc(50vw - 240px); }
    .block-container .merch-container .merch-image-container .merch {
      font-size: 12px; }
      .block-container .merch-container .merch-image-container .merch.cola {
        top: 10px; }
      .block-container .merch-container .merch-image-container .merch.fanta {
        top: 160px; }
      .block-container .merch-container .merch-image-container .merch.palinka {
        top: 300px; } }
@media (min-width: 768px) {
  .header_container #header a span {
    float: left;
    width: 720px;
    margin: 0 calc(50vw - 360px); }

  .block-container {
    width: 720px;
    box-sizing: border-box;
    float: left;
    margin: 60px calc(50vw - 360px); }
    .block-container .block {
      float: left;
      width: 180px;
      height: 180px; }
      .block-container .block:nth-child(5n):hover {
        background: url("./gif3.gif");
        background-size: cover; }
      .block-container .block:nth-child(5n+2):hover {
        background: url("./gif3.gif");
        background-size: cover; }
      .block-container .block:nth-child(5n+3):hover {
        background: url("./gif1.gif");
        background-size: cover; }
      .block-container .block:nth-child(5n+4):hover {
        background: url("./gif2.gif");
        background-size: cover; }
      .block-container .block:hover {
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        transition: all 0.5s ease;
        background: url("./gif2.gif");
        transform: rotate(2deg);
        background-size: cover; }
      .block-container .block.concerts:hover {
        background: url("./gif6.gif");
        background-size: cover; }
      .block-container .block.aboutus:hover {
        background: url("./gif7.gif");
        background-size: cover; }
      .block-container .block.bd2049:hover {
        background: url("./gif8.gif");
        background-size: cover; }
      .block-container .block.contact:hover {
        background: url("./sw.gif");
        background-size: cover;
        background-position: center; }
    .block-container .image-container .column {
      -ms-flex: 25%;
      flex: 25%;
      max-width: 25%; }
    .block-container .video-container iframe {
      width: 680px;
      height: 432px; }
    .block-container .merch-container .merch-image-container {
      height: 480px;
      width: 720;
      margin: 20px 0; }
      .block-container .merch-container .merch-image-container .merch {
        font-size: 12px; }
        .block-container .merch-container .merch-image-container .merch.cola {
          top: 10px; }
        .block-container .merch-container .merch-image-container .merch.fanta {
          top: 160px; }
        .block-container .merch-container .merch-image-container .merch.palinka {
          top: 300px; }

  .sidegifs {
    display: block; } }
@media (min-width: 1024px) {
  .header_container #header a span {
    float: left;
    width: 960px;
    margin: 0 calc(50vw - 480px); }

  .block-container {
    width: 960px;
    box-sizing: border-box;
    float: left;
    margin: 60px calc(50vw - 480px); }
    .block-container .block {
      float: left;
      width: 240px;
      height: 240px; }
    .block-container .merch-container .merch-image-container {
      height: 600px;
      width: 960px;
      margin: 20px 0; }
      .block-container .merch-container .merch-image-container .merch {
        font-size: 12px; }
        .block-container .merch-container .merch-image-container .merch.cola {
          top: 10px; }
        .block-container .merch-container .merch-image-container .merch.fanta {
          top: 160px; }
        .block-container .merch-container .merch-image-container .merch.palinka {
          top: 300px; } }

/*# sourceMappingURL=style.css.map */
