$rg-color-1: #0d1f22;
$rg-color-2: #ecce8e;
$rg-color-3: #2e1760;
$rg-color-4: #ccc5b9;
$rg-color-5: #244f26;

body {
  float: left;
  width: 100%;
  background-color: $rg-color-4;
  margin: 0;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

.band_header {
  width: 100%;
  float: left;
  padding: 8px;
  font-size: 30px;
  color: $rg-color-5;
  text-transform: lowercase;
  text-align: center;
}
#header {
  a {
    width: 100%;
    float: left;
    height: 30px;
    font-size: 12px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
  }
}
.block-container {
  width: 100%;
  float: left;
  box-sizing: border-box;
  background-color: $rg-color-4;

  .block {
    float: left;
    width: 50vw;
    height: 50vw;
    border: 1px solid #fff;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    font-family: Roboto;
    text-decoration: none;
    text-align: center;
    transition: all 1s ease;

    &:nth-child(5n) {
      background-color: $rg-color-1;

      &:hover {
        background-color: lighten($rg-color-1, 10%);
      }
    }

    &:nth-child(5n+1) {
      background-color: $rg-color-2;

      &:hover {
        background-color: lighten($rg-color-2, 10%);
      }
    }

    &:nth-child(5n+2) {
      background-color: $rg-color-3;

      &:hover {
        background-color: lighten($rg-color-3, 10%);
      }
    }

    &:nth-child(5n+3) {
      background-color: $rg-color-4;

      &:hover {
        background-color: lighten($rg-color-4, 10%);
      }
    }

    &:nth-child(5n+4) {
      background-color: $rg-color-5;

      &:hover {
        background-color: lighten($rg-color-5, 10%);
        background: url("./gif2.gif");
        background-size: cover;
      }
    }

    &:hover {
      color: rgba(255,255,255,0.5);
      font-size: 16px;
      transition: all 1s ease;
      background: url("./gif1.gif");
      transform: rotate(3deg);
      background-size: cover;
    }
  }
}
@media (min-width: 768px) {
  .block-container {
    width: 720px;
    height: 720px;
    box-sizing: border-box;
    float: left;
    margin: 0 calc(50vw - 360px);

    .block {
      float: left;
      width: 180px;
      height: 180px;
    }
  }
}
@media (min-width: 1024px) {
  .block-container {
    width: 960;
    height: 960;
    box-sizing: border-box;
    float: left;
    margin: 0 calc(50vw - 480px);

    .block {
      float: left;
      width: 240px;
      height: 240px;
    }
  }
}
