@import 'colorpaletta';

body {
  float: left;
  width: 100%;
  background-color: #fff;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  min-height: 100vh;
}

.ui-loader {
  display: none;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
}

.band_header {
  width: 100%;
  float: left;
  padding: 8px;
  font-size: 30px;
  color: $rg-color-5;
  text-transform: lowercase;
  text-align: center;
}

.header_container {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 50px;
  background-color: #000;
  line-height: 50px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;

  .rg_header {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: #ff0700;
    }
  }

  .topbar {
    position: absolute;
    right: 22px;
    top: 0;
    height: 50px;
    line-height: 50px;

    .fb,
    .insta,
    .yt {
      float: right;
      width: auto;
      margin: 0 3px;
      @media (min-width: 768px) {
        margin: 0 5px;
      }
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      text-transform: lowercase;

      span {
        display: none;
        float: right;
        margin: 0;
        width: auto;
        border: none;
        @media (min-width: 768px) {
          display: block;
        }
      }

      svg {
        margin: 15px 0;
        font-size: 20px;
        height: 20px;
        line-height: 50px;
        width: initial;
        color: #fff;
        &:hover {
          color: #ff0700;
        }
      }
    }
  }

  .openbtn {
    cursor: pointer;
    width: 25vw;
    text-align: center;
    position: absolute;
    left: 0;
    background-color: rgba(255,255,255, 0.1);
    &:hover {
      color: #ff0700;
    }
  }
}

#menu {
  width: 100vw;
  float: left;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: 3px;
  position: fixed;
  font-weight: 900;
  top: 50px;
  bottom: 0;
  left: -100vw;
  z-index: 1000;
  overflow: auto;

  a {
    width: 100%;
    float: left;
    height: 35px;
    font-size: 13px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
    box-sizing: border-box;
    background-color: #fff;

    span {
      box-sizing: border-box;
      font-weight: 900;
    }

    &:hover {
      color: #ff0700;
    }
  }
}

.footer_container {
  width: 100%;
  float: left;
  background-color: #000;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0px;

  a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    @media (min-width: 768px) {
      font-size: 12px;
      letter-spacing: 1px;
    }

    &:hover {
      text-decoration: none;
      color: #ff0700;
    }

    svg {
      margin: 0 5px;
    }

    span {
      display: none;
      @media (min-width: 768px) {
        display: inline-block;
      }
    }
  }

  .upper {
    width: 100%;
    float: left;
    line-height: 18px;
    height: 40px;
    display: flex;
    padding: 18px 0 4px;
    justify-content: space-evenly;
    box-sizing: border-box;
    @media (min-width: 768px) {
      display: block;
      text-align: center;
    }
  }

  .creator {
    width: 100%;
    float: left;
    height: 40px;
    line-height: 40px;
    background-color: #000;
    font-size: 9px;
    white-space: nowrap;
    @media (min-width: 768px) {
      font-size: 12px;
    }

    span {
      display: inline-block;
      width: auto;
    }
  }

  &.koala {
    position: fixed;
    bottom: 0;
  }
}

.header {
  position: absolute;
  text-align: center;
  float: left;
  width: 100%;
  color: $rg-font-light;
  text-transform: uppercase;
  font-size: 20px;
  height: 40px;
  line-height: 42px;
  background-color: $rg-color-5;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  margin-top: -40px;
  font-weight: 200;
  transition: all 0.5s ease;
}

.block-container {
  width: 100%;
  float: left;
  box-sizing: border-box;
  color: #000;
  text-align: center;
  transition: all 0.5s ease;

  &.home {
    margin-top: 50px;
    margin-bottom: 80px;
  }

  .block {
    float: left;
    width: 50vw;
    height: 50vw;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
    font-weight: 200;
    letter-spacing: 2px;
    border: 1px solid #000;
    background-color: #fff;

    &:hover {
      color: rgba($rg-font-light, 0.25);
      font-size: 16px;
      transition: all 0.5s ease;
      background-size: cover;
      letter-spacing: 5px;
      font-weight: 900;
    }
  }

  .fb-container {
    text-align: center;
    margin: 20px 0;
  }

  .insta-container {
    text-align: center;
    margin: 20px 0;
  }

  .koala-container {
    float: left;
    width: 100%;
    height: 404px;

    #center {
      width: 384px;

      #cont {
        float: left;
        margin: 0;
        top: 0;
        width: unset;
        height: unset;
      }
    }

    #footer {
      display: none;
    }
  }

  &.koala {
    margin-top: 106px;
  }

  &.k49 {
    margin-top: 65px;
    min-height: 470px;
  }

  &.us {
    margin-top: 80px;
  }

  &.quiz {
    margin-top: 76px;
  }

  &.personality {
    margin-top: 106px;
  }

  &.merch {
    margin-top: 76px;
  }

  &.tinder {
    min-height: 544px;
    overflow: auto;
    margin: 70px 0px 100px 0px;
    width: 100%;
    overflow: hidden;
    @media (min-width: 768px){
      margin: 100px 0px;
    }
  }

  &.concerts {
    margin-top: 40px;
    @media (min-width: 768px){
      margin-top: 80px;
    }
  }
}

.sidegifs {
  display: none;

  div {
    position: fixed;

    img {
      width: 80px;
      transition: all 666ms ease;

      &:hover {
        transform: rotate(360deg);
      }
    }

    &.pikachu {
      top: 40px;
      right: 60px;
    }

    &.micimacko {
      top: 100px;
      left: 20px;
    }

    &.spongyabob {
      top: 360px;
      left: 10px;
    }

    &.travolta {
      top: 230px;
      right: 10px;
    }

    &.uma {
      top: 230px;
      left: 10px;
    }

    &.shark {
      top: 450px;
      left: 10px;
    }

    &.bb8 {
      top: 490px;
      right: 20px;
    }
  }
}
.glightbox-container .gslide {
  position: absolute !important;
  top: 0px;
  bottom: 0px;
}
.glightbox-container .ginner-container.desc-bottom,
.glightbox-container .ginner-container.desc-top {
  width: 100%;
  position: relative;
}

.glightbox-mobile .glightbox-container .gslide-description {
  position: static !important;
  bottom: 0 !important;
  background-color: #fff !important;
  width: 100%;
  @media (min-width: 768px){
    background: rgba(255,255,255,0.5) !important;
    position: absolute !important;
  }
}
.glightbox-mobile .glightbox-container .gslide-desc .desc-more {
  color: #000 !important;
  opacity: 1 !important;
}

.glightbox-mobile .glightbox-container .gslide-desc {
  color: #000 !important;
}
.glightbox-mobile .glightbox-container .gslide-title {
  color: #000 !important;
}

.glightbox-clean .gslide-description {
  background: rgba(255,255,255,0.5) !important;
  color: #000 !important;
  padding: 10px !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  display: inline-block;
  h4 {
    margin-bottom: 10px !important;
    text-transform: uppercase;
  }
}

.glightbox-clean .gslide-title {
  font-size: 14px !important;
  line-height: 14px !important;
  @media (min-width: 768px){
    font-size: 18px !important;
    line-height: 18px !important;
  }
  margin: 0;
  font-family: "Open Sans" !important;
}

.glightbox-clean .gslide-desc {
  font-size: 12px !important;
  margin-bottom: 0;
  line-height: 12px !important;
  @media (min-width: 768px){
    font-size: 12px !important;
    line-height: 18px !important;
  }
  font-family: "Open Sans" !important;
}
@media (min-width: 768px) {
  .block-container {
    width: 720px;
    box-sizing: border-box;
    float: left;
    margin: 80px calc(50vw - 360px);

    &.home {
      width: 100%;
      margin: 80px 0;
    }

    .block {
      float: left;
      width: 25%;
      height: 200px;

      &:nth-child(5n) {
        &:hover {
          background: url("./gif3.gif");
          background-size: cover;
        }
      }

      &:nth-child(5n+1) {
        width: 50%;
      }

      &:nth-child(5n+2) {
        &:hover {
          background: url("./gif3.gif");
          background-size: cover;
        }
      }

      &:nth-child(5n+3) {
        &:hover {
          background: url("./gif1.gif");
          background-size: cover;
        }
      }

      &:nth-child(5n+4) {
        &:hover {
          background: url("./gif2.gif");
          background-size: cover;
        }
      }

      &:hover {
        color: rgba($rg-font-light, 0.5);
        font-size: 16px;
        transition: all 0.5s ease;
        background: url("./gif2.gif");
        background-size: cover;
      }

      &.concerts {
        background: url("./bulikrumpli.jpg");
        background-size: cover;
        background-position: top center;
        transition: all 0.5s ease;

        &:hover {
          background: url("./bulikrumpli.gif");
          background-size: cover;
          background-position: top center;
          transition: all 0.5s ease;
        }
      }

      &.aboutus {
        &:hover {
          background: url("./gif7.gif");
          background-size: cover;
        }
      }

      &.bd2049 {
        width: 25%;
        background: url("./2049.jpg");
        background-size: cover;
        background-position: top center;
        transition: all 0.5s ease;

        &:hover {
          background: url("./2049.gif");
          background-size: cover;
          background-position: top center;
          transition: all 0.5s ease;
        }
      }

      &.merch {
        width: 50%;
      }
      &.personality {
        width: 75%;
      }

      &.contact {
        &:hover {
          background: url("./sw.gif");
          background-size: cover;
          background-position: center;
        }
      }

      &.videos {
        width: 75%;
        background: url("./videogif.jpg");
        background-size: cover;
        background-position: center;
        transition: all 0.5s ease;

        &:hover {
          background: url("./videogif.gif");
          background-size: cover;
          background-position: center;
          transition: all 0.5s ease;
        }
      }
    }
  }

  .sidegifs {
    display: block;
  }
}
@media (min-width: 768px) {
  .header_container {
    height: 80px;
    line-height: 80px;
    font-size: 24px;

    .topbar {
      right: 10px;
      height: 80px;
      line-height: 80px;

      .fb,
      .insta,
      .yt {
        height: 80px;
        line-height: 80px;

        svg {
          margin: 25px 0;
          font-size: 30px;
          height: 30px;
          line-height: 80px;
        }
      }
    }
  }

  #menu {
    width: 100vw;
    left: -100vw;
    top: 80px;
    padding-top: calc(50vh - 340px);

    a {
      height: 45px;
      line-height: 45px;
      font-size: 15px;
    }
  }
}
@media (min-width: 1024px) {
  .block-container {
    width: 960px;
    box-sizing: border-box;
    float: left;
    margin: 80px calc(50vw - 480px);

    .block {
      float: left;
      height: 200px;
    }
  }
}
