@import '../assets/colorpaletta';

.block-container {
  section {
    padding-top: 76px;
    width: 100%;
    box-sizing: border-box;
    @media (min-width: 768px) {
      padding-top: 80px;
    }

    h1 {
      font-weight: 100;
      text-transform: uppercase;

      a {
        text-decoration: none;
        color: #000;
        padding: 5px;
        font-size: 40px;
        font-weight: 800;

        &.active,
        &:hover {
          color: $rg-color-red;
        }
      }
    }
  }
}

.video-container {
  width: 100%;
  padding: 30px 10px;
  box-sizing: border-box;
  text-align: center;
  @media (min-width: 768px) {
    width: 720px;
    padding: 30px 0;
    @media (min-width: 1024px) {
      width: 720px;
      margin-left: 120px;
      margin-right: 120px;
    }
  }

  iframe {
    @media (min-width: 768px) {
      width: 720px;
      height: 405px;
    }
  }

  .uploaded-video {
    width: 100%;
  }

  .fakeyoutube,
  .fbvideo,
  .youtube {
    background-color: #000;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      top: -16.82%;
      left: 0;
      opacity: 0.7;
      cursor: pointer;
      position: absolute;
    }

    iframe {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }

    .play-button {
      width: 116px;
      height: 67px;
      background-color: #333;
      z-index: 1;
      opacity: 0.8;
      border-radius: 6px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      background: url("../assets/fav.png");
    }

    .play-button:before {
      content: "";
      border-style: solid;
      border-width: 15px 0 15px 26.0px;
      border-color: transparent transparent transparent #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      background: url("../assets/fav.png");
    }
  }

  .fakeyoutube img,
  .fbvideo img {
    top: 0;
  }

  .video-intro {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 10px;
    color: #000;
    margin-top: -1px;

    .title {
      font-size: 24px;
      font-weight: 800;
      text-transform: uppercase;
      text-align: left;
      background-color: #000;
      letter-spacing: 0;
      padding-left: 5px;
      color: #fff;
    }
  }

  iframe {
    width: calc(100vw - 20px);
    height: calc(0.6 * (100vw - 20px));
    border-radius: 3px;
  }

  .boring-details {
    background-color: #fff;
    border: 2px solid #000;
    line-height: 36px;

    .title {
      font-size: 20px;
      font-weight: 800;
      text-transform: lowercase;
      text-align: right;
      background-color: #000;
      letter-spacing: 0;
      padding: 0 10px;
      color: #fff;
      cursor: pointer;
      display: flex;
      justify-content: space-between;

      &:hover {
        color: #ff0700;
      }
    }

    .content {
      padding: 10px;
      display: block;
      text-align: left;
      font-weight: 200;

      .description {
        font-weight: 200;
        padding: 0;
        text-align: left;
      }

      .articles {
        font-weight: 600;
        text-transform: uppercase;
      }

      span {
        font-weight: 600;

        &.bold {
          font-weight: 600;
        }
      }

      &#boringDetails1,
      &#boringDetails2,
      &#boringDetails3,
      &#boringDetails4,
      &#boringDetails5,
      &#boringDetails6,
      &#boringDetails7,
      &#boringDetails8,
      &#boringDetails9,
      &#boringDetails10,
      &#boringDetails11,
      &#boringDetails12,
      &#boringDetails13,
      &#boringDetails14,
      &#boringDetails15,
      &#boringDetails16,
      &#boringDetails17,
      &#boringDetails18,
      &#boringDetails19,
      &#boringDetails20,
      &#boringDetails21,
      &#boringDetails22,
      &#boringDetails23,
      &#boringDetails24,
      &#boringDetails25,
      &#boringDetails26 {
        display: none;
      }
    }

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: #ff0700;
      }
    }
  }
}
