@import '../assets/colorpaletta';

.block-container {
  section {
    padding-top: 76px;
    float: left;

    h1 {
      font-weight: 100;
      text-transform: uppercase;

      a {
        text-decoration: none;
        color: $rg-font-light;
        padding: 5px;

        &.active,
        &:hover {
          background-color: $rg-color-2;
        }
      }
    }
  }
}

.video-container {
  width: 100%;
  padding: 30px 10px;
  box-sizing: border-box;
  text-align: center;
  float: left;

  .video-intro {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 0 30px;

    .title {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }

    .description {
      font-weight: 300;
      padding: 0;
      text-align: center;
    }
  }

  iframe {
    width: calc(100vw - 20px);
    height: calc(0.6 * (100vw - 20px));
    border-radius: 3px;
  }

  .boring-details {
    margin-top: 30px;

    .title {
      cursor: pointer;
      font-weight: 500;

      &:hover {
        color: $rg-color-5;
      }
    }

    .content {
      font-weight: 300;

      span {
        font-weight: 500;
      }

      &#boringDetails1,
      &#boringDetails2 {
        display: none;
      }
    }
  }
}
@media (min-width: 768px) {
  .block-container {
    section {
      padding-top: 40px;
    }
  }

  .video-container {
    width: 720px;
    padding: 30px 0;

    iframe {
      width: 720px;
      height: 405px;
    }
  }
}
@media (min-width: 1024px) {
  .video-container {
    width: 720px;
    margin-left: 120px;
    margin-right: 120px;
  }
}
