@import '../assets/colorpaletta';

.block-container {
  section {
    padding-top: 76px;
    float: left;

    h1 {
      font-weight: 100;
      text-transform: uppercase;

      a {
        text-decoration: none;
        color: #000;
        padding: 5px;
        font-size: 40px;
        font-weight: 800;

        &.active,
        &:hover {
          color: $rg-color-red;
        }
      }
    }
  }
}

.video-container {
  width: 100%;
  padding: 30px 10px;
  box-sizing: border-box;
  text-align: center;
  float: left;

  .video-intro {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 0 10px;
    color: #000;

    .title {
      font-size: 24px;
      font-weight: 800;
      text-transform: uppercase;
      text-align: left;
      background-color: #000;
      letter-spacing: 0;
      padding-left: 5px;
      color: #fff;
    }
  }

  iframe {
    width: calc(100vw - 20px);
    height: calc(0.6 * (100vw - 20px));
    border-radius: 3px;
  }

  .boring-details {
    margin-top: 10px;
    background-color: $rg-color-blue-boring-details;

    .title {
      font-size: 24px;
      font-weight: 800;
      text-transform: lowercase;
      text-align: right;
      background-color: #000;
      letter-spacing: 0;
      padding-right: 5px;
      color: #fff;
      cursor: pointer;

      &:hover {
        color: #ff0700;
      }
    }

    .content {
      padding: 10px;
      display: block;
      text-align: left;
      font-weight: 200;
      .description {
        font-weight: 200;
        padding: 0px;
        text-align: left;
      }
      .articles {
        font-weight: 600;
        text-transform: uppercase;
      }

      span {
        font-weight: 600;
        &.bold {
          font-weight: 600;
        }
      }

      &#boringDetails1,
      &#boringDetails2,
      &#boringDetails3,
      &#boringDetails4,
      &#boringDetails5,
      &#boringDetails6 {
        display: none;
      }
    }

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: #ff0700;
      }
    }
  }
}
@media (min-width: 768px) {
  .block-container {
    section {
      padding-top: 80px;
    }
  }

  .video-container {
    width: 720px;
    padding: 30px 0;

    iframe {
      width: 720px;
      height: 405px;
    }
  }
}
@media (min-width: 1024px) {
  .video-container {
    width: 720px;
    margin-left: 120px;
    margin-right: 120px;
  }
}
