body, html {
  scroll-behavior: smooth;
}

.block-container section {
  padding-top: 76px;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .block-container section {
    padding-top: 80px;
  }
}
.block-container section h1 {
  font-weight: 100;
  text-transform: uppercase;
}
.block-container section h1 a {
  text-decoration: none;
  color: #000;
  padding: 5px;
  font-size: 40px;
  font-weight: 800;
}
.block-container section h1 a.active, .block-container section h1 a:hover {
  color: #ff0700;
}

.video-container {
  width: 100%;
  padding: 30px 10px;
  box-sizing: border-box;
  text-align: center;
}
@media (min-width: 768px) {
  .video-container {
    width: 720px;
    padding: 30px 0;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .video-container {
    width: 720px;
    margin-left: 120px;
    margin-right: 120px;
  }
}
@media (min-width: 768px) {
  .video-container iframe {
    width: 720px;
    height: 405px;
  }
}
.video-container .uploaded-video {
  width: 100%;
}
.video-container .fakeyoutube,
.video-container .fbvideo,
.video-container .youtube {
  background-color: #000;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}
.video-container .fakeyoutube img,
.video-container .fbvideo img,
.video-container .youtube img {
  width: 100%;
  top: -16.82%;
  left: 0;
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
}
.video-container .fakeyoutube iframe,
.video-container .fbvideo iframe,
.video-container .youtube iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.video-container .fakeyoutube .play-button,
.video-container .fbvideo .play-button,
.video-container .youtube .play-button {
  width: 116px;
  height: 67px;
  background-color: #333;
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: url("../assets/fav.png");
}
.video-container .fakeyoutube .play-button:before,
.video-container .fbvideo .play-button:before,
.video-container .youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: url("../assets/fav.png");
}
.video-container .fakeyoutube img,
.video-container .fbvideo img {
  top: 0;
}
.video-container .video-intro {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 10px;
  color: #000;
  margin-top: -1px;
}
.video-container .video-intro .title {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: left;
  background-color: #000;
  letter-spacing: 0;
  padding-left: 5px;
  color: #fff;
}
.video-container iframe {
  width: calc(100vw - 20px);
  height: calc(0.6 * (100vw - 20px));
  border-radius: 3px;
}
.video-container .boring-details {
  background-color: #fff;
  border: 2px solid #000;
  line-height: 36px;
}
.video-container .boring-details .title {
  font-size: 20px;
  font-weight: 800;
  text-transform: lowercase;
  text-align: right;
  background-color: #000;
  letter-spacing: 0;
  padding: 0 10px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.video-container .boring-details .title:hover {
  color: #ff0700;
}
.video-container .boring-details .content {
  padding: 10px;
  display: block;
  text-align: left;
  font-weight: 200;
}
.video-container .boring-details .content .description {
  font-weight: 200;
  padding: 0;
  text-align: left;
}
.video-container .boring-details .content .articles {
  font-weight: 600;
  text-transform: uppercase;
}
.video-container .boring-details .content span {
  font-weight: 600;
}
.video-container .boring-details .content span.bold {
  font-weight: 600;
}
.video-container .boring-details .content#boringDetails1, .video-container .boring-details .content#boringDetails2, .video-container .boring-details .content#boringDetails3, .video-container .boring-details .content#boringDetails4, .video-container .boring-details .content#boringDetails5, .video-container .boring-details .content#boringDetails6, .video-container .boring-details .content#boringDetails7, .video-container .boring-details .content#boringDetails8, .video-container .boring-details .content#boringDetails9, .video-container .boring-details .content#boringDetails10, .video-container .boring-details .content#boringDetails11, .video-container .boring-details .content#boringDetails12, .video-container .boring-details .content#boringDetails13, .video-container .boring-details .content#boringDetails14, .video-container .boring-details .content#boringDetails15, .video-container .boring-details .content#boringDetails16, .video-container .boring-details .content#boringDetails17, .video-container .boring-details .content#boringDetails18, .video-container .boring-details .content#boringDetails19, .video-container .boring-details .content#boringDetails20, .video-container .boring-details .content#boringDetails21, .video-container .boring-details .content#boringDetails22, .video-container .boring-details .content#boringDetails23, .video-container .boring-details .content#boringDetails24, .video-container .boring-details .content#boringDetails25, .video-container .boring-details .content#boringDetails26 {
  display: none;
}
.video-container .boring-details a {
  color: #000;
  text-decoration: none;
}
.video-container .boring-details a:hover {
  text-decoration: underline;
  color: #ff0700;
}

/*# sourceMappingURL=videos.css.map */
